<% 
if( typeof data.length == 'undefined' ){ %>
	<ul class="lista-terminos">
		<% 	$.each( data, function( key, value ){ var termino = value %>
		<li>
			<a href="#" class="glosario-termino">
				<span><%= termino.termino %></span>
				<div class="tooltip-descripcion-termino">
					<div class="tooltip-inset-content">
						<span><%= termino.descripcion %></span>
						<span class="tooltip-triangle-gray"><span class="tooltip-triangle-white"></span></span>
					</div>
				</div>
			</a>
		</li>
		<% }) %>
	</ul>
<%
} else if( data.length <= 0 ) { %>
<h3>No hay términos para esta búsqueda</h3>
<%	
} else { %>
	<ul class="lista-terminos">
		<% 	$.each( data, function( key, value ){ var termino = value %>
		<li>
			<a href="#" class="glosario-termino">
				<span><%= termino.termino %></span>
				<div class="tooltip-descripcion-termino">
					<div class="tooltip-inset-content">
						<span><%= termino.descripcion %></span>
						<span class="tooltip-triangle-gray"><span class="tooltip-triangle-white"></span></span>
					</div>
				</div>
			</a>
		</li>
		<% }) %>
	</ul>
<%
}
%>