/* SOAP Integration component styles */

.icon-48-csoap {
    background-image: url('../images/icon-48-conflate-ext.png');

}

.icon-48-webservices {
    background-image: url('../images/icon-48-webservices.png');

}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
	height: 100px;
}

.ui-autocomplete-loading {
	background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.no-results {
	border : 1px solid #600000;
}