/**
*
* Styles for object
*
*/
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic);

.wrapper-component-glosario {
	float: left;
	margin:auto;
	width: 1000px;
	font-family: 'Archivo Narrow', sans-serif;
}

.wrapper-component-glosario h2 {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #003989;
	text-align: right;
	color: #003989;
	font-size: 24px;
	font-weight: bold;
}

.box-glosario {
	display: inline-block;
	margin: 15px 0;
	padding: 15px;
	width: 970px;
	border-radius: 10px;
	box-shadow: 0px 0px 7px #888;
}

.box-glosario .glosario-header {
	display: table-cell;
	vertical-align: middle;
	padding-right: 20px;
	width: 970px;
	height: 65px;
	background-image: url( '../images/header.jpg' );
	border-bottom: 0;
	color: #FFF;
}

.box-glosario .wrapper-buscador { float: right; margin: 15px 0; }
.box-glosario .wrapper-buscador * { display: inline-block; vertical-align: top; }

.box-glosario .wrapper-buscador form input[ type="text" ]{
	padding: 6px 10px;
	width: 314px;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border: 1px solid #CCC;
	font-size: 14px;
}
.box-glosario .wrapper-buscador form img {
	padding: 5px 6px;
	margin-left: -3px;
	height: 21px;
	background-color: #003888;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.box-glosario .alphabet-pagination {
	display: inline-block;
	width: 1000px;
	font-family: 'Arial';
	font-size: 16px;
}

.box-glosario .alphabet-pagination * { display: inline-block; vertical-align: middle; }

.box-glosario .alphabet-pagination ul {
	background-color: #003989;
	border-radius: 5px;
}

/* Paginator */
.box-glosario .alphabet-pagination ul li { margin: 0 5px; }
.box-glosario .alphabet-pagination ul li a { padding: 5px; width: 12px; height: 23px; color: #FFF; line-height: 24px;}
.box-glosario .alphabet-pagination ul li a:hover, .box-glosario .alphabet-pagination ul li a.active { 
	background: #ffd951; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffd951 0%, #ffe653 50%, #ffda51 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd951), color-stop(50%,#ffe653), color-stop(100%,#ffda51)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffd951 0%,#ffe653 50%,#ffda51 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffd951 0%,#ffe653 50%,#ffda51 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffd951 0%,#ffe653 50%,#ffda51 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffd951 0%,#ffe653 50%,#ffda51 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd951', endColorstr='#ffda51',GradientType=0 ); /* IE6-9 */
	color: #003989;

}

/* Lista términos */
.wrapper-lista-terminos { 
	display: inline-block;
	margin: 30px 0;
	width: 970px;
	text-align: center;
}

.wrapper-lista-terminos h2.lista-terminos-header {
	width: 100%;
	border: 0;
	border-top: 2px solid #B3B3B3;
	text-align: left;
}

.wrapper-lista-terminos h2 span {
	display: inline-block;
	padding: 0 16px;
	height: 41px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #ffd951; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffd951 0%, #ffe653 50%, #ffda51 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd951), color-stop(50%,#ffe653), color-stop(100%,#ffda51)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffd951 0%,#ffe653 50%,#ffda51 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffd951 0%,#ffe653 50%,#ffda51 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffd951 0%,#ffe653 50%,#ffda51 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffd951 0%,#ffe653 50%,#ffda51 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd951', endColorstr='#ffda51',GradientType=0 ); /* IE6-9 */
	line-height: 40px;
}

.lista-terminos { 
	display: inline-block; width: 866px; 
	margin: 15px 0 15px 100px;
	text-align: left;
}

.lista-terminos li, .lista-terminos a { display:inline-block; }
.lista-terminos li {
	width: 96%;
	padding: 25px 0 25px 17px;
	border-bottom: 1px solid #E6E6E6;
}

.lista-terminos a:hover .tooltip-descripcion-termino { display:block; opacity: 1; }

.lista-terminos li:first-child { border-top: 1px solid #E6E6E6; }

.lista-terminos a {
	position: relative;
	color: #808080;
	font-family: 'Arial';
	font-size: 16px;
	font-weight: 100;
}

.lista-terminos a:hover {  color: #003989; }


/* Tooltip */
.tooltip-descripcion-termino {
	position: absolute;
	top: -100px;
	left: 10%;
	border: 7px solid #FFF;
	box-shadow: 0px 0px 7px #4B4B4B, inset 0px 6px 4px #616161;
	border-radius: 21px;
	z-index: 9999;
	opacity: 0;
	display: none;
	transition: opacity 400ms;
}

.tooltip-descripcion-termino .tooltip-inset-content {
	position: relative;
	width: 500px;
	padding: 14px;
	background-color: #003989;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.77);
	border-radius: 14px;
	color: #FFF;
	font-family: 'Verdana';
	font-weight: lighter;
	font-size: 16px;
	text-align: center;
}

.tooltip-descripcion-termino .tooltip-triangle-gray {
	position: absolute;
	left: 14px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 30px 12.5px 0 12.5px;
	border-color: #bababa transparent transparent transparent;
}

.tooltip-descripcion-termino .tooltip-triangle-white {
	position: absolute;
	top: -30px;
	left: -10px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 28px 10px 0 10px;
	border-color: #FFF transparent transparent transparent;
}








