/* Context menu */
#cfrOverlay { position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; cursor: pointer; }
#cfrCenter { position: absolute; z-index: 9999; overflow: hidden; background-color: #fff; }
#cfrContent { padding: 10px; display: table-cell; line-height: 22px; width: 100%; }
#cfrClose { display: table-cell; width: 66px; height: 30px; background: transparent url(closelabel.gif) no-repeat center; outline: none; padding: 10px 43px; cursor: pointer; }
#cfrContent input { margin: 0 -6px; padding: 5px; font-size: 15px; display: block; width: 100%; border: 1px solid #ccc; cursor: auto; }
#cfrContent .input-container { padding: 0 6px; }
ul#context-menu { padding: 4px; margin: 0; background-color: rgba(255, 255, 255, 0.75);   border: 1px solid #bab9b9;          -moz-box-shadow: 0 0 5px #555;  -webkit-box-shadow: 0 0 5px#555;  box-shadow: 0 0 5px #555;}
ul#context-menu>li { display: block; margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11.5px; padding: 4px 7px; max-width: 200px; min-width: 150px; }
ul#context-menu>li>a { text-decoration: none; color: #001e21; line-height: 16px; }
ul#context-menu>li:hover { background: #005a63; }
ul#context-menu>li:hover>a { color: #fff; }

/* Slider */
@font-face {
	font-family: 'VideoboxIcons';
	font-style: normal;
	font-weight: 400;
	src: url(vbico.woff) format('woff'), url(vbico.ttf) format('ttf'), url(vbico.svg) format('svg'), url(vbico.eot) format('eot');
}

@media (min-width: 300px){
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="1"] > li:nth-of-type(2) ~ li, 
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="2"] > li:nth-of-type(3) ~ li, 
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="3"] > li:nth-of-type(4) ~ li, 
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="4"] > li:nth-of-type(5) ~ li, 
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="5"] > li:nth-of-type(6) ~ li, 
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="6"] > li:nth-of-type(7) ~ li, 
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="7"] > li:nth-of-type(8) ~ li, 
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="8"] > li:nth-of-type(9) ~ li, 
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="9"] > li:nth-of-type(10) ~ li, 
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="10"] > li:nth-of-type(11) ~ li, 
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="11"] > li:nth-of-type(12) ~ li, 
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="12"] > li:nth-of-type(13) ~ li
	{ float: right; }

	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="1"] > li:nth-of-type(1) ~ li { margin-right: -100%; }
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="2"] > li:nth-of-type(2) ~ li { margin-right: -50%; }
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="3"] > li:nth-of-type(3) ~ li { margin-right: -33.33333%; }
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="4"] > li:nth-of-type(4) ~ li { margin-right: -25%; }
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="5"] > li:nth-of-type(5) ~ li { margin-right: -20%; }
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="6"] > li:nth-of-type(6) ~ li { margin-right: -16.66666%; }
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="7"] > li:nth-of-type(7) ~ li { margin-right: -14.28571%; }
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="8"] > li:nth-of-type(8) ~ li { margin-right: -12.5%; }
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="9"] > li.:nth-of-type(9) ~ li { margin-right: -11.11111%; }
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="10"] > li:nth-of-type(10) ~ li { margin-right: -10%; }
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="11"] > li:nth-of-type(11) ~ li { margin-right: -9,09090%; }
	.vb_slider > .vb_slider_cont > .vb_slider_padding > ul[data-vbcols="12"] > li:nth-of-type(12) ~ li { margin-right: -8,33333%; }

	.vb_slider { margin-top: 10px; }
	.vb_slider > .vb_slider_cont { display: inline-block; width: 100%; vertical-align: middle; }
	.vb_slider > .vb_slider_cont > .vb_slider_padding { padding: 10px 5px 0; margin: 0 20px; overflow: hidden;}
	.vb_slider > .vb_slider_prev, .vb_slider > .vb_slider_next { width: 20px; height: 40px; display: inline-block; vertical-align: middle; position: relative; z-index: 10; cursor: pointer; color: #005a63; font-weight: bold; font-size: 30px; line-height: 40px; margin-bottom: 50px; text-shadow: 1px 1px #3ca6b0, 2px 2px 8px rgba(0, 0, 0, 0.2);}
	.vb_slider > .vb_slider_prev:hover, .vb_slider > .vb_slider_next:hover { color: #063F75; }
	.vb_slider > .vb_slider_prev { margin-right: -20px; text-align: right;}
	.vb_slider > .vb_slider_next { margin-left: -20px; text-align: left;}
	.vb_slider > .vb_slider_prev:before { content: "\f053"; font-family: VideoboxIcons; }
	.vb_slider > .vb_slider_next:before { content: "\f054"; font-family: VideoboxIcons; }
}