@charset "utf-8";

/* CSS Document */


.gris_izquierda {  background-color: #CCCCCC;
    background-position: center center;
    float: left;
    height: 48px;
    width: 35%;}
	
.gris_completo{ background-color: #CCCCCC;}

.gris_derecha{
	background-color: #CCCCCC;
    background-position: center center;
    float: right;
    height: 48px;
    width: 35%;
	}
	
	.azul {  background-color: #3361A1;
    color: #FFFFFF;
    height: 25px;
    text-align: center;  } 




* { padding: 0; margin: 0; }

body {
	
	
	background-image: url("../images/fondoGradacion.jpg"); background-repeat:repeat-x;
	background-color:#FFF;
	 color: #808080;
    font-family: Verdana,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.6em;
    text-align: justify; }
img { border: 0px; }

p { 
font-family: Verdana, sans-serif;
font-size: 13px;
font-style: normal;
font-weight: normal;
color:#808080;
letter-spacing: normal;
line-height: 1.6em;
text-align:justify;
}

b { }

strong { }

table { }

td { }

ul { list-style: none }

a { color: #043672; text-decoration: none; font-weight: normal; }

a:visited { color: #043672 text-decoration: none; font-weight: normal; }

a:hover { color: #043672; text-decoration: none; font-weight: normal; }

h3 {
	
	  margin-bottom: 9px;
    margin-top: 25px; }
	
	
#header .search	{ margin:0px; width:auto; }
.search h2 { margin-left: -113px !important; }
label[for="mod-search-searchword"] { display: none; }

h4 { }

h2 { }

hr { }

hr.separator { }

.article_seperator { }

/* FORMS */





.button { }

.contact_email #contact_text { }

.introtext { }

.contact_email .inputbox { }

textarea#contact_text { }

.inputbox { }

/* MENU-NAV */





.pagenavbar { color: #666666; } /* << Start < Prev Next > End >> */

.pagenavbar a { color: #666666; text-decoration: none; }

.pagenavbar a:hover { }

.pagenavbar:visited { }

.pagenav { color: #fff; font-family: 'Orbitron', arial, serif; font-size: 9px; text-transform: uppercase; padding: 3px; -webkit-border-radius: 5px 10px; -moz-border-radius: 5px 10px; border-radius: 5px 10px; } /* format text for "<< Start < Previous 1 Next > End >>" links */

.pagenav:hover { background-color: #4D4D4D }

a.pagenav { color: #666666; text-decoration: none; }

a.pagenav:hover { }

a.pagenav:visited { }

.readon { }

a.readon { background-image: url("../images/ver_mas.png"); background-repeat: no-repeat; color: transparent; height: 15px; margin-right: -175px; margin-top: 120px; width: 35px; } /* Read More */

a.readon:hover { }

a.readon:visited { }

.back_button { }

.back_button a { } /* "BACK" Button's style */

.back_button a:hover { }

.back_button a:visited { }

.pagenav_prev a { } /* "PRE"  Button's style */

.pagenav_prev a:hover { }

.pagenav_prev a:visited { }

.pagenav_next a { } /* "NEXT" Button's style */

.pagenav_next a:hover { }

.pagenav_next a:visited { }

.mostread ul { } /* most popular' style By default - user2 */

.mostread li { }

.blogsection { }

.category { }

.toclink { }

/* CONTENT */





a.category:link { }

a.category:hover { }

a.category:visited { }

.blog { margin: 0 auto;
    text-align: justify;
    width: 665px;
	
	 } /* Main table*/

.blog td { }

.blogsection { } /* Links of Blog's section */

.blog_more { } /* Text "More" in blog's section */

a.blogsection:link { } /* Link's style */

a.blogsection:visited { } /* visited Link's style */

a.blogsection:hover { } /* hover Link's style */

/* Padding */





.contentheading, .componentheading, .back_button, .blog_more, .modifydate, .contentpaneopen td, .contentpane td { }

/* Titles */





.componentheading { width: 100%; font-size: 16px; color: #009DDF; font-weight: bold; text-align: left; margin-bottom: 5px; }

.contentheading, .componentheading_faq { padding: 0px; } /*<_____________----------------------------------------*/

.contentheading { font-family: "Century Gothic", Calibri, Arial, Verdana; font-size: 20px; font-weight: normal; text-align: left; color: #ccc; padding-right: 20px; background-image: url(../images/bullet.png); background-repeat: no-repeat; background-position: left 37%; padding-left: 30px; margin: 0px 0px 0px 9px; padding-top: 16px; padding-bottom: 37px; }

.contentpane { } /* Page Contact us */

.button_registration { }

.contentpaneopen { font-size: 14px; color: #8A8A8A; }

.contentpaneopen h3 { }

.contentpaneopen p { }

.contentpaneopen img { float: none; border: 1px solid #666666; padding: 3px; margin: 8px 10px 8px 15px }

.contentpaneopen img:hover { opacity: 0.8; filter: alpha(opacity=90); }

* html .contentpaneopen img { }

.contentpaneopen td { } /* the table that containing the service information (components, categories, forms...). */

.contentpaneopen td img { }

.contentpaneopen td td { } /* the table that containing text */

.contentpaneopen a { }

.contentpaneopen a:hover { }

.contentpaneopen label { }

.contentpaneopen font { }

.contentpaneopen ol { }

.contentpaneopen li { list-style: inside decimal; margin-left: 20px }

.contentpaneopen li a { }

.contentpaneopen li a:hover { }

.contentpaneopen input { }

* html .contentpaneopen input { }

.contentpaneopen .inputbox { }

.contentpaneopen .button { }

.contentpaneopen .buttonheading { }

.contentpaneopen .buttonheading img { }

.contentpane td { }

.contentpane td img { }

.contentpane li { }

.contentpane li a { }

* html .contentpane iframe { }

.contentpane .button { }

.contentpagetitle { }

span.contentheading { }

/* Page Faq */





.contentpane_faq td { }

.contentpane_faq td td { }

.componentheading_faq td { }

.sectiontableheader_faq td { }

.contentpane_faq input, .contentpane_faq select { }

.contentdescription_faq { }

.contentdescription_faq img { }

tr.sectiontableentry1_faq td, tr.sectiontableentry2_faq td { }

.sectiontableentry2_faq { }

.componentheading_ln { }

.contentpane_ln td { }

.contentpane_ln td td { }

.contentpane_ln input { }

/**/





.content_rating { }

.content_vote { }

.message { }

/* SUBHEADINGS */





a.contentpagetitle:hover { } /* subheading Being references */

a.contentpagetitle:link { }

a.contentpagetitle:visited { }

.contentdescription img { } /* formating section "DESCRIPTION" categories (News/Weblinks/Latest news...) */

table.contenttoc { } /* Tables of Content. Use for multipages articles */

table.contenttoc td { } /* Tables of Content. Use for multipages articles */

table.contenttoc th { } /* Tables of Content. Use for multipages articles */

table.contenttoc td.toclink { } /* Tables of Content. Use for multipages articles for links */

.pagenavcounter { }

a.toclink:link { }

a.toclink:visited { }

a.toclink:hover { }

/*DATES, AUTHORS */





.createdate { } /* The date of created style */

.modifydate { } /* formating text - Last updated on */

.small { color: #7a1a00; font-size: 11px } /* text - "Written by:...." */

.smalldark { } /* formating text - "Number of Voters" */

/* WEBLINKS */





.weblinks { } /* formating links on section "Weblinks" */

a.weblinks:hover { }

/* NEWSFEED */





.newsfeedheading { } /* only for heading newsfeed. */

.newsfeeddate { } /* date for newsfeed */

.fase4rdf { } /* text newsfeed */

/* SEARCHPAGE */





table.searchintro td { } /* formating message "Search Keyword: test returned 4 matches" */

.search {  
  margin: 30px auto 0 120px;
    width: 680px;
	}


searchForm {
	border:none;
	
	}
	
.word {
border: medium none;
    margin-bottom: 20px;
    margin-top: 19px;
	
	}
	
	
	
.phrases {
	border: medium none;
    margin-bottom: 20px;
    margin-top: 19px;
	
	}	
	
.only {	
border: medium none;
    margin-bottom: 20px;
    margin-top: 19px;	
}
.search-results {
	width:500px;
	
	}
.result-created {
	margin-bottom:15px;
	
	}




/* PATHWAY */





#pathway { }

#pathway .space { }

span.pathway { } /* left space */

.pathway { } /* formating pathway text */

a.pathway { color: #FFF } /* formating pathway link */

a.pathway:hover { }

.pathway img { }

/* INDEX.PHP_STYLES */





#content_cab {  float: left;
    height: 510px;
    margin: -53px auto 0;
    width: 100%; }

#content_header {   height: 50px;
    margin: 0 auto;
    width: 1000px; }

#content_header_100 { width:100%; height:auto; float:left; margin:0px auto;}

#header { width: 233px; height: 24px; float: right; margin: 0px auto; position: relative; z-index: 99999999; }

#header .inputbox {    background-color: transparent;
    background-image: url("../images/b_input.png");
    background-repeat: no-repeat;
    border: medium none;
    height: 26px;
    margin-top: 4px;
    padding-left: 7px;
    width: 234px;}

#header .button { background-color: transparent; background-image: url("../images/bg_btn.png"); background-repeat: no-repeat; border: medium none; cursor: pointer; float: right; height: 24px; margin-top: -25px; position: relative; text-indent: -999px; width: 27px; z-index: 5; }

#all {float: left;
    height: auto;
     margin: 220px auto 0;
    position: absolute;
    width: 100%;

	}

#content-content { margin: 0 auto; width: 1000px; }

#content_main { background-color: #ffffff;
    border: 1px solid #E5E5E4;
    border-radius: 8px 8px 8px 8px;
    float: right;
    height: auto;
    margin: 0 auto;
    width: 739px;
	box-shadow: 0px 0px 5px #ccc; }
	
#content_main h2 { 
 background-image: url("../images/bg-titulos.png");
    background-position: center center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 30px;
    height: 75px;
    margin-left: -23px;
    margin-top: -30px;
    padding-right: 57px;
    padding-top: 40px;
    text-align: right;
    width: 689px;
	 font-family: 'Arial', sans-serif;
	 font-weight: lighter;
}
#content_main h4 { 
  background-image: url("../images/linea-subtitulos.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #003888;
    font-family: 'Arial',sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    padding-left: 8px;
    text-align: left;
    width: 689px;
	margin-left: -7px;
}

#content_main h6 { 

 color: #808080;
    font-family: 'Arial',sans-serif;
    font-size: 12px;
    text-align: justify;

}

#content_main ol li {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #003989;
    font-family: Verdana,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.6em;
    margin-left: 18px;
    padding: 0;
}
	 
#content_main li { 
  background-image: url("../images/vineta.png");
   background-position: left 7px;
    background-repeat: no-repeat;
   font-family: Verdana, sans-serif;
font-size: 13px;
font-style: normal;
font-weight: normal;
color:#808080;
padding-left:20px;
}

   
  

	 
	 
	
.item-page {
	padding: 31px;
	
	}	
	
	
#content_menu {
background-color: #f9f9f9;
border: 1px solid #E5E5E4;
border-radius: 8px 8px 8px 8px;
float: left;
height: auto;
margin: 0 auto;
width: 240px;
padding-bottom: 5px;
box-shadow:2px 1px 4px #e5e5e5;
	}	
	
.moduletableizquierdo a {
	font-family: Verdana, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: normal;
width: 240px;
letter-spacing: normal;
line-height: 1.6em;
color:#003989;
height:43px;

	}


.moduletableizquierdo a:hover {
 background-image: url("../images/bg-hover-menu.png");
    background-position: center center;
  background-repeat: no-repeat;
height:43px;
 font-family: Verdana, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: normal;
width: 240px;
letter-spacing: normal;
line-height: 1.6em;
color:#000000;

	}


.moduletableizquierdo ul{
	margin-top: 12px;
	}


.moduletableizquierdo li {
 background-image: url("../images/linea-menu.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #003989;
    height: 43px;
    padding-left: 36px;
    width: 240px;
}

.moduletableizquierdo li a {
	color: #003989;
    font-family: Verdana,sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    height: 43px;
    letter-spacing: normal;
    line-height: 0.6em;
    width: 240px;
	}

.moduletableizquierdo li a :hover {
 background-image: url("../images/bg-hover-menu.png");
    background-position: left center;
  background-repeat: no-repeat;
height:43px;
 font-family: Verdana, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: normal;
width: 240px;
letter-spacing: normal;
line-height: 1.6em;
color:#000000;

	}
























#destacados { float: left; height: auto; margin: 8px auto 0 23px; width: 433px; }

#destacados h3 { border-bottom: 2px solid #B0AFB0; color: #002968; font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-weight: normal; padding-bottom: 4px; padding-left: 10px; text-align: left; }

#noticias { float: right; height: auto; margin: 8px 12px 0 auto; width: 433px; }

#noticias h3 { border-bottom: 2px solid #B0AFB0; color: #002968; font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-weight: normal; padding-bottom: 4px; padding-left: 10px; text-align: left; }

#noticias a.readon { float: right !important; margin-left: 17px !important; margin-right: -209px !important; margin-top: 126px !important; }



#content_pie { background-image: url("../images/bg_pie.png"); background-position: center 0; background-repeat: no-repeat; clear: both; color: #FFFFFF; float: left; height: 204px; margin:26px auto 0; width: 100%; }

#pie { float: left; height: auto; margin-top: 55px; width: 1000px; }

#content_copy { width:1000px; height:auto; margin:0px auto; float:left; }

#copy {    color: #FFFFFF;
    font-family: arial narrow;
    font-size: 15px;
    margin: 20px auto 0;
    text-align: center;
    width: 670px;}

#logo { width: 68px; height: 20px; background-image: url(../images/logo_gris.png); background-repeat: no-repeat; float: left; margin-top:4px; cursor:pointer; }

#logo:hover { width: 68px; height: 20px; background-image: url(../images/logo.png); background-repeat: no-repeat; float:left; margin-top:4px; cursor:pointer; }

#content_piedos { width: 1000px; margin: 0px auto 0px auto; }

.consejo-directivo td {
	height:180px;
	
}
.primera-consejodirec{
	background-color:#B2C4DC;
	color:#001D45;
	
	}
.segunda-consejodirect {
	background-color:#CCD7E7;
	color:#3361A1;
	}
.segunda-consejodirect p {
	background-color:#CCD7E7;
	color:#3361A1;
	text-align:center;
	}	
.tercera-consejodirect {
	background-color:#EFF2F7;
	color:#3361A1;
	}	
.tercera-consejodirect p {
	
	color:#3361A1;
	text-align:center;
	}		
	


.comite-tecnico td {
		height:60px;
		padding-left: 10px;
		}




.sub-titulo-consejo-directivo {
        background-color:#B2C4DC;
		color:#001D45;
		text-align:center;
        
        }

.sub-titulo-consejo-directivo p {
    
		color:#001D45;
		
        
        }

	.post-sub-consejo-directivo {
        background-color:#CCD7E7;
		color:#003989;
		}
		
		.post-sub-consejo-directivo p {
        
		color:#003989;
		}	





.normal-consejo-directivo {
        background-color:#EFF2F7;
		color:#3361A1;
        
        }
		
		 .normal-consejo-directivo p {
       
		color:#3361A1;
		padding-right: 20px;
		
		 }
	
	

	
		
	
	
	
.comite-administrativo td {
		height:60px;
		padding-left: 10px;
		}
	
	
    .normal-comite-administrativo {
        background-color:#EFF2F7;
		color:#3361A1;
        
        }
		
		 .normal-comite-administrativo p {
       
		color:#3361A1;
		padding-right: 20px;
		
		 }
		 
		 
		 
    .sub-titulo-comite-administrativo {
        background-color:#B2C4DC;
		color:#001D45;
		text-align:center;
        
        }	
		.sub-titulo-comite-administrativo p {
    
		color:#001D45;
		
        
        }	
		.post-sub-comite-administrativo {
        background-color:#CCD7E7;
		color:#003989;
		}
		
		.post-sub-comite-administrativo p {
        
		color:#003989;
		}	
	
	
	
	.personal-interno td {
	height: 53px;
    padding: 12px;
	
	}


.columna-1 {
	color: #001D45;
	background-color:#B2C4DC;
	
}
.columna2-personal {
	background-color: #CCD7E7;
	color:#3361A1;
}
.columna3-personal {
	background-color: #EFF2F7;
}
	
	
	
	
	
.fila-normal-grupostecnicos {
	background-color: #CCD7E7;
	color:#3361A1;
	
}

.fila-normal-grupostecnicos p {
	
	color:#3361A1;
}
.grupos-tecnicos-asesores td {
	
	height:35px;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	
	}	

.laboratorios td {
	height:35px;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	}
	
.laboratorios td p {	
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}

.fila-1-laboratorios {
	background-color: #7B95B2;
	color:#001D45;
}
.fila-2-laboratorios {
	background-color: #9BB3CE;
	color:#001D45
}
.fila-2-laboratorios p {
	
	color:#001D45
}

.fila-3-laboratorios {
	background-color: #CCD7E7;
	color:#003989;
}
.filo-4-laboratorios {
	background-color: #D3DFED;
	color:#003989;
}
.fila-5-laboratorios {
	background-color: #EFF2F7;
	color:#3361A1;
}

.filo-4-laboratorios p {
	
	color:#003989;
}
.fila-5-laboratorios p {
	
	color:#3361A1;
}

.centros-diagnostico td {
	height:35px;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	}
.centros-diagnostico p {
	font-family:Arial, Helvetica, sans-serif;
	}	

.fila-1-centros-diagnostico {
	background-color: #B2C4DC;
	color:#001D45;
}
.fila-2-centros-diagnostico {
	background-color: #CCD7E7;
	color:#3361A1;
}
.fila-3-centros-diagnostico {
	background-color: #EFF2F7;
	color:#3361A1;
}

.fila-1-centros-diagnostico p {
	
	color:#001D45;
}
.fila-2-centros-diagnostico p {
	
	color:#3361A1;
}
.fila-3-centros-diagnostico p {
	
	color:#3361A1;
}

.texto-blanco p {
	color: #FFF;
}



.columna1-gta-inspeccion {
	background-color: #B2C4DC;
    color: #001D45;
}
.columna2-gta-inspeccion {
	   background-color: #CCD7E7;
    color: #3361A1;
}
.columna3-gta-inspeccion {
	 background-color: #EFF2F7;
    color: #3361A1;
}

.inspeccion td {
    font-family: Arial,Helvetica,sans-serif;
    height: 35px;
    padding: 5px;
	
}

.cabeza-tabla {
	text-align: center; color: #fff; background-color: #3361a1; height: 25px;
}


.cabeza-tabla p {
	color: #fff; 
	text-align:center;
}

#recontent-categorias {
	margin-top: 132px;
    position: absolute;
    width: 100%;
	 z-index: -3;
	
	}






#content-categorias {
	width: 1000px;
	height: 35px;
	clear: both;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 37px;
	margin-left: auto;
    }
   
.categorias-sup td { border-bottom: 3px solid #003989; text-align:right;
}

.categorias-sup td p {
    font-family: 'Archivo Narrow',sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
	color:#003989;
    }
	
	
	

	
	

#click-menu104 {
top: 0px;
left: 0px;
border-bottom-color: #C2C6CC;
padding-top: 6px;
padding-bottom: 9px;
background-image: none;
background-color: #f9f9f9;
display: block;
position: relative;
z-index: 199;
}



#click-menu104 .inbox1 {
	border-bottom:1px solid #cccccc;
    color: #003989 !important;
    display: block !important;
    font-family:  font-family: Verdana,Arial,Helvetica,sans-serif !important;!important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}
	

.click-menu104 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu104 div.active .inbox1.act, #click-menu104 .inbox1.act {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellowleft-off.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #FFFFFF !important;
}

click-menu104 .inbox2.active, .click-menu104 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 6px center;
  /*border #B3B3B3;*/
  
   
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu104 .inbox1 {
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_down.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    /*border-bottom-color: #C2C6CC;
    border-bottom-style: solid;
    border-radius: 1px*/;
    color: #003989 !important;
    display: block !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
	
}

.click-menu104 .inbox2.active, .click-menu104 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 13px center;
   /* border-bottom-color: #B3B3B3;
    border-bottom-style: solid;*/
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}


#click-menu104 div.active .inbox1, .click-menu104 .inbox1-active, #click-menu104 .inbox1:hover {
color: #FFFFFF !important;
background-image: URL("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellow-down.gif");
background-repeat: no-repeat;
background-position: 7px center;
background-color: #003987;
}






.click-menu104 .inbox2.first {
    border-radius: 0px 0px 0 0;
}
.click-menu104 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: 16px center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}











/*segundo menu sw*/





#click-menu118 {
top: 0px;
left: 0px;
border-bottom-color: #C2C6CC;
padding-top: 6px;
padding-bottom: 9px;
background-image: none;
background-color: #f9f9f9;
display: block;
position: relative;
z-index: 199;
}



#click-menu118 .inbox1 {
	border-bottom:1px solid #cccccc;
    color: #003989 !important;
    display: block !important;
    font-family:  font-family: Verdana,Arial,Helvetica,sans-serif !important;!important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}
	

.click-menu118 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu118 div.active .inbox1.act, #click-menu118 .inbox1.act {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellowleft-off.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #FFFFFF !important;
}

click-menu118 .inbox2.active, .click-menu118 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 6px center;
  /*border #B3B3B3;*/
  
   
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu118 .inbox1 {
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_down.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    /*border-bottom-color: #C2C6CC;
    border-bottom-style: solid;
    border-radius: 1px*/;
    color: #003989 !important;
    display: block !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
	
}

.click-menu118 .inbox2.active, .click-menu118 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 13px center;
   /* border-bottom-color: #B3B3B3;
    border-bottom-style: solid;*/
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}


#click-menu118 div.active .inbox1, .click-menu118 .inbox1-active, #click-menu118 .inbox1:hover {
color: #FFFFFF !important;
background-image: URL("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellow-down.gif");
background-repeat: no-repeat;
background-position: 7px center;
background-color: #003987;
}






.click-menu118 .inbox2.first {
    border-radius: 0px 0px 0 0;
}
.click-menu118 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: 16px center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}




/*comunidad onac menu acordeon*/





#click-menu121 {
top: 0px;
left: 0px;
border-bottom-color: #C2C6CC;
padding-top: 6px;
padding-bottom: 9px;
background-image: none;
background-color: #f9f9f9;
display: block;
position: relative;
z-index: 199;
}



#click-menu121 .inbox1 {
	border-bottom:1px solid #cccccc;
    color: #003989 !important;
    display: block !important;
    font-family:  font-family: Verdana,Arial,Helvetica,sans-serif !important;!important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}
	

.click-menu121 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu121 div.active .inbox1.act, #click-menu121 .inbox1.act {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellowleft-off.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #FFFFFF !important;
}

click-menu121 .inbox2.active, .click-menu121 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 6px center;
  /*border #B3B3B3;*/
  
   
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu121 .inbox1 {
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_down.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    /*border-bottom-color: #C2C6CC;
    border-bottom-style: solid;
    border-radius: 1px*/;
    color: #003989 !important;
    display: block !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
	
}

.click-menu121 .inbox2.active, .click-menu121 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 13px center;
   /* border-bottom-color: #B3B3B3;
    border-bottom-style: solid;*/
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}


#click-menu121 div.active .inbox1, .click-menu121 .inbox1-active, #click-menu121 .inbox1:hover {
color: #FFFFFF !important;
background-image: URL("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellow-down.gif");
background-repeat: no-repeat;
background-position: 7px center;
background-color: #003987;
}






.click-menu121 .inbox2.first {
    border-radius: 0px 0px 0 0;
}
.click-menu121 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: 16px center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}








/*contratacion de bienes*/









#click-menu119 {
top: 0px;
left: 0px;
border-bottom-color: #C2C6CC;
padding-top: 6px;
padding-bottom: 9px;
background-image: none;
background-color: #f9f9f9;
display: block;
position: relative;
z-index: 199;
}



#click-menu119 .inbox1 {
	border-bottom:1px solid #cccccc;
    color: #003989 !important;
    display: block !important;
    font-family:  font-family: Verdana,Arial,Helvetica,sans-serif !important;!important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}
	

.click-menu119 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu119 div.active .inbox1.act, #click-menu119 .inbox1.act {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellowleft-off.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #FFFFFF !important;
}

click-menu119 .inbox2.active, .click-menu119 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 6px center;
  /*border #B3B3B3;*/
  
   
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu119 .inbox1 {
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_down.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    /*border-bottom-color: #C2C6CC;
    border-bottom-style: solid;
    border-radius: 1px*/;
    color: #003989 !important;
    display: block !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
	
}

.click-menumenu119 .inbox2.active, .click-menu119 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 13px center;
   /* border-bottom-color: #B3B3B3;
    border-bottom-style: solid;*/
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}


#click-menu119 div.active .inbox1, .click-menu121 .inbox1-active, #click-menu121 .inbox1:hover {
color: #FFFFFF !important;
background-image: URL("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellow-down.gif");
background-repeat: no-repeat;
background-position: 7px center;
background-color: #003987;
}






.click-menu119 .inbox2.first {
    border-radius: 0px 0px 0 0;
}
.click-menu119 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: 16px center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}





/*  actualidad onac
  */











#click-menu117 {
top: 0px;
left: 0px;
border-bottom-color: #C2C6CC;
padding-top: 6px;
padding-bottom: 9px;
background-image: none;
background-color: #f9f9f9;
display: block;
position: relative;
z-index: 199;
}



#click-menu117 .inbox1 {
	border-bottom:1px solid #cccccc;
    color: #003989 !important;
    display: block !important;
    font-family:  font-family: Verdana,Arial,Helvetica,sans-serif !important;!important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}
	

.click-menu117 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu117 div.active .inbox1.act, #click-menu117 .inbox1.act {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellowleft-off.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #FFFFFF !important;
}

click-menu117 .inbox2.active, .click-menu117 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 6px center;
  /*border #B3B3B3;*/
  
   
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu117 .inbox1 {
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_down.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    /*border-bottom-color: #C2C6CC;
    border-bottom-style: solid;
    border-radius: 1px*/;
    color: #003989 !important;
    display: block !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
	
}

.click-menu117 .inbox2.active, .click-menu117 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 13px center;
   /* border-bottom-color: #B3B3B3;
    border-bottom-style: solid;*/
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}


#click-menu117div.active .inbox1, .click-menu117 .inbox1-active, #click-menu117 .inbox1:hover {
color: #FFFFFF !important;
background-image: URL("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellow-down.gif");
background-repeat: no-repeat;
background-position: 7px center;
background-color: #003987;
}






.click-menu117 .inbox2.first {
    border-radius: 0px 0px 0 0;
}
.click-menu117.inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: 16px center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}










#click-menu120 {
top: 0px;
left: 0px;
border-bottom-color: #C2C6CC;
padding-top: 6px;
padding-bottom: 9px;
background-image: none;
background-color: #f9f9f9;
display: block;
position: relative;
z-index: 199;
}



#click-menu120 .inbox1 {
	border-bottom:1px solid #cccccc;
    color: #003989 !important;
    display: block !important;
    font-family:  font-family: Verdana,Arial,Helvetica,sans-serif !important;!important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}
	

.click-menu120 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu120 div.active .inbox1.act, #click-menu120 .inbox1.act {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellowleft-off.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #FFFFFF !important;
}

click-menu120 .inbox2.active, .click-menu120 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 6px center;
  /*border #B3B3B3;*/
  
   
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu120 .inbox1 {
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_down.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    /*border-bottom-color: #C2C6CC;
    border-bottom-style: solid;
    border-radius: 1px*/;
    color: #003989 !important;
    display: block !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
	
}

.click-menu120 .inbox2.active, .click-menu120 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 13px center;
   /* border-bottom-color: #B3B3B3;
    border-bottom-style: solid;*/
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}


#click-menu120div.active .inbox1, .click-menu120 .inbox1-active, #click-menu120 .inbox1:hover {
color: #FFFFFF !important;
background-image: URL("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellow-down.gif");
background-repeat: no-repeat;
background-position: 7px center;
background-color: #003987;
}






.click-menu120 .inbox2.first {
    border-radius: 0px 0px 0 0;
}
.click-menu120.inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: 16px center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}


































#click-menu139 {
top: 0px;
left: 0px;
border-bottom-color: #C2C6CC;
padding-top: 6px;
padding-bottom: 9px;
background-image: none;
background-color: #f9f9f9;
display: block;
position: relative;
z-index: 199;
padding-left: 7px;
}



#click-menu139 .inbox1 {
	border-bottom:1px solid #cccccc;
    color: #003989 !important;
    display: block !important;
    font-family:  font-family: Verdana,Arial,Helvetica,sans-serif !important;!important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}
	

.click-menu139 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu139 div.active .inbox1.act, #click-menu120 .inbox1.act {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellowleft-off.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #FFFFFF !important;
}

click-menu139 .inbox2.active, .click-menu120 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 6px center;
  /*border #B3B3B3;*/
  
   
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu139 .inbox1 {
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_down.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    /*border-bottom-color: #C2C6CC;
    border-bottom-style: solid;
    border-radius: 1px*/;
    color: #003989 !important;
    display: block !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding: 10px 5px 7px 26px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
	
}

.click-menu139 .inbox2.active, .click-menu139 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 13px center;
   /* border-bottom-color: #B3B3B3;
    border-bottom-style: solid;*/
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}


#click-menu139div.active .inbox1, .click-menu139 .inbox1-active, #click-menu139 .inbox1:hover {
color: #FFFFFF !important;
background-image: URL("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellow-down.gif");
background-repeat: no-repeat;
background-position: 7px center;
background-color: #003987;
}






.click-menu139 .inbox2.first {
    border-radius: 0px 0px 0 0;
}
.click-menu139.inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: 16px center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}






/* swf interactua con nosotros*/



#click-menu130 {
top: 0px;
left: 0px;
border-bottom-color: #C2C6CC !important;
padding-top: 6px;
padding-bottom: 9px;
background-image: none;
background-color: #f9f9f9;
display: block;
position: relative;
z-index: 199;
}





	

.click-menu130 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu130 div.active .inbox1.act, #click-menu130.inbox1.act {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellowleft-off.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #FFFFFF !important;
}

click-menu130.inbox2.active, .click-menu130 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 6px center;
  /*border #B3B3B3;*/
  
   
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu130 .inbox1 {
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_down.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    border-bottom:1px solid #C2C6CC;
    
    border-radius: 1px;
    color: #003989 !important;
    display: block !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
	
}

.click-menu130.inbox2.active, .click-menu130 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 13px center;
   /* border-bottom-color: #B3B3B3;
    border-bottom-style: solid;*/
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}


#click-menu130 div.active .inbox1, .click-menu130 .inbox1-active, #click-menu130 .inbox1:hover {
color: #FFFFFF !important;
background-image: URL("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellow-down.gif");
background-repeat: no-repeat;
background-position: 7px center;
background-color: #003987;
}






.click-menu130 .inbox2.first {
    border-radius: 0px 0px 0 0;
}
.click-menu130 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: 16px center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}





/* swf aspectos tecnicos*/

#click-menu133 {
top: 0px;
left: 0px;
border-bottom-color: #C2C6CC !important;
padding-top: 6px;
padding-bottom: 9px;
background-image: none;
background-color: #f9f9f9;
display: block;
position: relative;
z-index: 199;
}





	

.click-menu133 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu133 div.active .inbox1.act, #click-menu133.inbox1.act {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellowleft-off.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #FFFFFF !important;
}

click-menu133.inbox2.active, .click-menu133 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 6px center;
  /*border #B3B3B3;*/
  
   
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu133 .inbox1 {
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_down.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    border-bottom:1px solid #C2C6CC;
    
    border-radius: 1px;
    color: #003989 !important;
    display: block !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
	
}

.click-menu133.inbox2.active, .click-menu133 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 13px center;
   /* border-bottom-color: #B3B3B3;
    border-bottom-style: solid;*/
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}


#click-menu133 div.active .inbox1, .click-menu133 .inbox1-active, #click-menu133 .inbox1:hover {
color: #FFFFFF !important;
background-image: URL("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellow-down.gif");
background-repeat: no-repeat;
background-position: 7px center;
background-color: #003987;
}






.click-menu133 .inbox2.first {
    border-radius: 0px 0px 0 0;
}
.click-menu133 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: 16px center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}




/*swf como acceder a nuestros servicios*/


#click-menu132 {
top: 0px;
left: 0px;
border-bottom-color: #C2C6CC !important;
padding-top: 6px;
padding-bottom: 9px;
background-image: none;
background-color: #f9f9f9;
display: block;
position: relative;
z-index: 199;
}





	

.click-menu132 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu132 div.active .inbox1.act, #click-menu132.inbox1.act {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellowleft-off.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #FFFFFF !important;
}

click-menu132.inbox2.active, .click-menu132 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 6px center;
  /*border #B3B3B3;*/
  
   
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu132 .inbox1 {
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_down.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    border-bottom:1px solid #C2C6CC;
    
    border-radius: 1px;
    color: #003989 !important;
    display: block !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
	
}

.click-menu132.inbox2.active, .click-menu132 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 13px center;
   /* border-bottom-color: #B3B3B3;
    border-bottom-style: solid;*/
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}


#click-menu132 div.active .inbox1, .click-menu133 .inbox1-active, #click-menu132 .inbox1:hover {
color: #FFFFFF !important;
background-image: URL("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellow-down.gif");
background-repeat: no-repeat;
background-position: 7px center;
background-color: #003987;
}






.click-menu132 .inbox2.first {
    border-radius: 0px 0px 0 0;
}
.click-menu132 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: 16px center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}








/*Menu  acordeon de contenido*/


















/* estilos tabs*/
div.nn_sliders_slider a {
	background: #003786;
background-image: url(../images/bg-tab.png); /* fallback */
background-image: url(../images/bg-tab.png), -webkit-gradient(linear, left top, left bottom, from(#003786), to(#00286D)); /* Saf4+, Chrome */
background-image: url(../images/bg-tab.png), -webkit-linear-gradient(top, #003786, #00286D); /* Chrome 10+, Saf5.1+ */
background-image: url(../images/bg-tab.png),    -moz-linear-gradient(top, #003786, #00286D); /* FF3.6+ */
background-image: url(../images/bg-tab.png),     -ms-linear-gradient(top, #003786, #00286D); /* IE10 */
background-image: url(../images/bg-tab.png),      -o-linear-gradient(top, #003786, #00286D); /* Opera 11.10+ */
background-image: url(../images/bg-tab.png),         linear-gradient(top, #003786, #00286D); /* W3C */
background-repeat:no-repeat;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #ccc;
    margin-bottom: 0px;
	color:#fff !important;
	font-family: Verdana, Geneva, sans-serif;
	font-size:16px;
	margin-top:0px;
	padding-left:67px !important;
	padding-top:9px;
	padding-bottom:9px;
	background-position: 0 48%;
	}
	
div.nn_sliders_slider a:hover {
	background: #003786;
background-image: url(../images/bg-tab.png); /* fallback */
background-image: url(../images/bg-tab.png), -webkit-gradient(linear, left top, left bottom, from(#003786), to(#00286D)); /* Saf4+, Chrome */
background-image: url(../images/bg-tab.png), -webkit-linear-gradient(top, #003786, #00286D); /* Chrome 10+, Saf5.1+ */
background-image: url(../images/bg-tab.png),    -moz-linear-gradient(top, #003786, #00286D); /* FF3.6+ */
background-image: url(../images/bg-tab.png),     -ms-linear-gradient(top, #003786, #00286D); /* IE10 */
background-image: url(../images/bg-tab.png),      -o-linear-gradient(top, #003786, #00286D); /* Opera 11.10+ */
background-image: url(../images/bg-tab.png),         linear-gradient(top, #003786, #00286D); /* W3C */
background-repeat:no-repeat;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #ccc;
    margin-bottom: 0px;
	color:#ccc !important;
	font-family: Verdana, Geneva, sans-serif;
	font-size:16px;
	margin-top:0px;
	padding-left:67px !important;
	padding-top:9px;
	padding-bottom:9px;
	background-position: 0 48%;
	
	}
	
div.nn_sliders_slider.active a, div.nn_sliders_slider.active a:hover {
	background: #003786;
background-image: url(../images/bg-tab.png); /* fallback */
background-image: url(../images/bg-tab.png), -webkit-gradient(linear, left top, left bottom, from(#003786), to(#00286D)); /* Saf4+, Chrome */
background-image: url(../images/bg-tab.png), -webkit-linear-gradient(top, #003786, #00286D); /* Chrome 10+, Saf5.1+ */
background-image: url(../images/bg-tab.png),    -moz-linear-gradient(top, #003786, #00286D); /* FF3.6+ */
background-image: url(../images/bg-tab.png),     -ms-linear-gradient(top, #003786, #00286D); /* IE10 */
background-image: url(../images/bg-tab.png),      -o-linear-gradient(top, #003786, #00286D); /* Opera 11.10+ */
background-image: url(../images/bg-tab.png),         linear-gradient(top, #003786, #00286D); /* W3C */
background-repeat:no-repeat;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #ccc;
    margin-bottom: 0px;
	color:#fff !important;
	font-family: Verdana, Geneva, sans-serif;
	font-size:16px;
	margin-top:0px;
	padding-left:67px !important;
	padding-top:9px;
	padding-bottom:9px;
	background-position: 0 48%;
	
	}
	

	
div.nn_sliders_content_wrapper div.nn_sliders_content {
	border:none !important;
	padding-bottom:30px !important;
	padding-top:30px !important;
	padding-left:30px !important;
	}


.tabla-servicios td {
	vertical-align:top;
	}



/* estilos pàra la parte del calendario*/


#jevents_body h2 {
	 background-image: url("../images/bg-titulos.png");
    background-position: center center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 30px;
    height: 75px;
   margin:0px;
    padding-right: 57px;
    padding-top: 40px;
    text-align: right;
    width: 689px;
	 font-family: 'Arial', sans-serif;
	 font-weight: lighter;
	 margin-bottom:-69px;
}

#clock { text-align: right; }

.moduletableclock > div { display: inline-block; }
.moduletableclock #leoClockTime_leoclock { font-size: 13px; }
.moduletableclock .timeszone { font-size: 10px; }

