<% if( results.length > 0 ){ %>
<ul class="lista-organismos">
<% 	for( var i = 0; i < results.length; i++ ){  var acreditado = results[i] %>
	<li>
		<div class="nombre-empresa">
			<a href="<%= url %>index.php?option=com_directorio&render=Detail&template=onac-component&id=<%= acreditado.id %>&type=<%= acreditado.type %>"><%= acreditado.razon_social %></a>
		</div>
		<div class="codigo-acreditacion"><%= acreditado.codigo_acreditacion %></div>
		<div class="direccion"><%= acreditado.direccion_sede_principal %></div>
		<div class="ciudad"><%= acreditado.ciudad %></div>
		<div class="pdf cell-small">
			<% if( acreditado.exists ) { %>
			<a href="<%= url %>index.php?option=com_directorio&task=organismo.downloadPDF&id=<%= acreditado.id  %>&type=<%= acreditado.type %>">
				<img src="<%= url %>components/com_directorio/assets/images/pdf-icon.png" />
			</a>
			<% }else{ %>
				<img style="opacity:.3;" src="<%= url %>components/com_directorio/assets/images/pdf-icon.png" />
			<% }%>
		</div>
	</li>
	<% } %>
</ul>
<%
} else { %>
<h3>No hay términos para esta búsqueda</h3>
<%	
}
%>