<% 

if( paginator.pages > 0 ){ %>

	<% if( paginator.pages > 12 ){

			var currentPage = window.DirectorioHandler.currentPage
	%> 
		<li><a class="submit-prev-page" href="#" data-page="1">Anterior</a></li>
		<% for( var i = 1; i <= 12; i++ ){ 

			var active = ( i == currentPage ) ? 'style="color:red;"' : '';

		%>
			<li><a class="submit-search" <%= active %> href="#" data-page="<%= i %>"><%= i %></a></li>
		<% } %>
		<li><a class="submit-next-page" href="#" data-page="<%= i + 1 %>">Siguiente</a></li>
	<% } else { %>

		<% for( var i = 1; i <= paginator.pages; i++ ){ %>
			<li><a class="submit-search" href="#" data-page="<%= i %>"><%= i %></a></li>
		<% } %>
	<% } %>
<% } %>