<ul class='lista-fields-avanzada'>
	<% 
	$.each( params, function( key, value ){
	%>
	<li><label for="tipo-organismo" class="no-margin"><%= natParams[ key ] %>:</label></li>
	<li>
		<input type='text' class="medium" id="<%= key %>" name="<%= key %>" />
	</li>
	<%
	})
	%>
</ul>