@charset "utf-8";

/* CSS Document */





* { padding: 0; margin: 0; }

body { background-image: url("../images/fondoGradacion.jpg"); background-repeat:repeat-x;
	background-color:#FFF;

color: #808080;
    font-family: Verdana,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.6em;
    text-align: justify; }

img { border: 0px; }

p { 
font-family: Verdana, sans-serif;
font-size: 13px;
font-style: normal;
font-weight: normal;
color:#808080;
letter-spacing: normal;
line-height: 1.6em;
text-align:justify;
}

b { }

strong { }

table { }

td { }

ul { list-style: none }

a { color: #043672; text-decoration: none; font-weight: normal; }

a:visited { color: #043672 text-decoration: none; font-weight: normal; }

a:hover { color: #043672; text-decoration: none; font-weight: normal; }

h3 { }

h4 { }

h2 { }




hr { }

hr.separator { }

.article_seperator { }

/* FORMS */


.titulo_sainet {
	color: #333399;
	font-weight:bold;
	}


.button { }

.contact_email #contact_text { }

.introtext { }

.contact_email .inputbox { }

textarea#contact_text { }

.inputbox { }

/* MENU-NAV */





.pagenavbar { color: #666666; } /* << Start < Prev Next > End >> */

.pagenavbar a { color: #666666; text-decoration: none; }

.pagenavbar a:hover { }

.pagenavbar:visited { }

.pagenav { color: #fff; font-family: 'Orbitron', arial, serif; font-size: 9px; text-transform: uppercase; padding: 3px; -webkit-border-radius: 5px 10px; -moz-border-radius: 5px 10px; border-radius: 5px 10px; } /* format text for "<< Start < Previous 1 Next > End >>" links */

.pagenav:hover { background-color: #4D4D4D }

a.pagenav { color: #666666; text-decoration: none; }

a.pagenav:hover { }

a.pagenav:visited { }

.readon { }

a.readon { background-image: url("../images/ver_mas.png"); background-repeat: no-repeat; color: transparent; height: 15px; margin-right: -175px; margin-top: 120px; width: 35px; } /* Read More */

a.readon:hover { }

a.readon:visited { }

.back_button { }

.back_button a { } /* "BACK" Button's style */

.back_button a:hover { }

.back_button a:visited { }

.pagenav_prev a { } /* "PRE"  Button's style */

.pagenav_prev a:hover { }

.pagenav_prev a:visited { }

.pagenav_next a { } /* "NEXT" Button's style */

.pagenav_next a:hover { }

.pagenav_next a:visited { }

.mostread ul { } /* most popular' style By default - user2 */

.mostread li { }

.blogsection { }

.category { }

.toclink { }

/* CONTENT */





a.category:link { }

a.category:hover { }

a.category:visited { }

.blog { } /* Main table*/

.blog td { }

.blogsection { } /* Links of Blog's section */

.blog_more { } /* Text "More" in blog's section */

a.blogsection:link { } /* Link's style */

a.blogsection:visited { } /* visited Link's style */

a.blogsection:hover { } /* hover Link's style */

/* Padding */





.contentheading, .componentheading, .back_button, .blog_more, .modifydate, .contentpaneopen td, .contentpane td { }

/* Titles */





.componentheading { width: 100%; font-size: 16px; color: #009DDF; font-weight: bold; text-align: left; margin-bottom: 5px; }

.contentheading, .componentheading_faq { padding: 0px; } /*<_____________----------------------------------------*/

.contentheading { font-family: "Century Gothic", Calibri, Arial, Verdana; font-size: 20px; font-weight: normal; text-align: left; color: #ccc; padding-right: 20px; background-image: url(../images/bullet.png); background-repeat: no-repeat; background-position: left 37%; padding-left: 30px; margin: 0px 0px 0px 9px; padding-top: 16px; padding-bottom: 37px; }

.contentpane { } /* Page Contact us */

.button_registration { }

.contentpaneopen { font-size: 14px; color: #8A8A8A; }

.contentpaneopen h3 { }

.contentpaneopen p { }

.contentpaneopen img { float: none; border: 1px solid #666666; padding: 3px; margin: 8px 10px 8px 15px }

.contentpaneopen img:hover { opacity: 0.8; filter: alpha(opacity=90); }

* html .contentpaneopen img { }

.contentpaneopen td { } /* the table that containing the service information (components, categories, forms...). */

.contentpaneopen td img { }

.contentpaneopen td td { } /* the table that containing text */

.contentpaneopen a { }

.contentpaneopen a:hover { }

.contentpaneopen label { }

.contentpaneopen font { }

.contentpaneopen ol { }

.contentpaneopen li { list-style: inside decimal; margin-left: 20px }

.contentpaneopen li a { }

.contentpaneopen li a:hover { }

.contentpaneopen input { }

* html .contentpaneopen input { }

.contentpaneopen .inputbox { }

.contentpaneopen .button { }

.contentpaneopen .buttonheading { }

.contentpaneopen .buttonheading img { }

.contentpane td { }

.contentpane td img { }

.contentpane li { }

.contentpane li a { }

* html .contentpane iframe { }

.contentpane .button { }

.contentpagetitle { }

span.contentheading { }

/* Page Faq */





.contentpane_faq td { }

.contentpane_faq td td { }

.componentheading_faq td { }

.sectiontableheader_faq td { }

.contentpane_faq input, .contentpane_faq select { }

.contentdescription_faq { }

.contentdescription_faq img { }

tr.sectiontableentry1_faq td, tr.sectiontableentry2_faq td { }

.sectiontableentry2_faq { }

.componentheading_ln { }

.contentpane_ln td { }

.contentpane_ln td td { }

.contentpane_ln input { }

/**/





.content_rating { }

.content_vote { }

.message { }

/* SUBHEADINGS */





a.contentpagetitle:hover { } /* subheading Being references */

a.contentpagetitle:link { }

a.contentpagetitle:visited { }

.contentdescription img { } /* formating section "DESCRIPTION" categories (News/Weblinks/Latest news...) */

table.contenttoc { } /* Tables of Content. Use for multipages articles */

table.contenttoc td { } /* Tables of Content. Use for multipages articles */

table.contenttoc th { } /* Tables of Content. Use for multipages articles */

table.contenttoc td.toclink { } /* Tables of Content. Use for multipages articles for links */

.pagenavcounter { }

a.toclink:link { }

a.toclink:visited { }

a.toclink:hover { }

/*DATES, AUTHORS */





.createdate { } /* The date of created style */

.modifydate { } /* formating text - Last updated on */

.small { color: #7a1a00; font-size: 11px } /* text - "Written by:...." */

.smalldark { } /* formating text - "Number of Voters" */

/* WEBLINKS */





.weblinks { } /* formating links on section "Weblinks" */

a.weblinks:hover { }

/* NEWSFEED */





.newsfeedheading { } /* only for heading newsfeed. */

.newsfeeddate { } /* date for newsfeed */

.fase4rdf { } /* text newsfeed */

/* SEARCHPAGE */





table.searchintro td { } /* formating message "Search Keyword: test returned 4 matches" */

.search { }

/* PATHWAY */





#pathway { }

#pathway .space { }

span.pathway { } /* left space */

.pathway { } /* formating pathway text */

a.pathway { color: #FFF } /* formating pathway link */

a.pathway:hover { }

.pathway img { }

/* INDEX.PHP_STYLES */





#content_cab {  float: left;
    height: 510px;
    margin: -53px auto 0;
    width: 100%; }

#content_header {   height: 50px;
    margin: 0 auto;
    width: 1000px; }

#content_header_100 { width:100%; height:auto; float:left; margin:0px auto;}

#header { width: 233px; height: 24px; float: right; margin: 0px auto; position: relative;   z-index: 99999999; }

#header .inputbox {    background-color: transparent;
    background-image: url("../images/b_input.png");
    background-repeat: no-repeat;
    border: medium none;
    height: 26px;
    margin-top: 21px;
    padding-left: 7px;
    width: 234px;}

#header .button { background-color: transparent; background-image: url("../images/bg_btn.png"); background-repeat: no-repeat; border: medium none; cursor: pointer; float: right; height: 24px; margin-top: -25px; position: relative; text-indent: -999px; width: 27px; z-index: 5; }

#all {float: left;
    height: auto;
     margin: 220px auto 0;
    position: absolute;
    width: 100%;

	}
#content-content { margin: 0 auto; width: 1000px; }

#content_main { background-color: #ffffff;
    border: 1px solid #E5E5E4;
    border-radius: 8px 8px 8px 8px;
    float: right;
    height: auto;
    margin: 0 auto;
    width: 739px; }
	
#content_main h2 { 
 background-image: url("../images/bg-titulos.png");
    background-position: center center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 30px;
    height: 75px;
    margin-left: -23px;
    margin-top: -30px;
    padding-right: 59px;
    padding-top: 40px;
    text-align: right;
    width: 689px;
	 font-family: 'Arial', sans-serif;
	 font-weight: lighter;
}
#content_main h4 { 
 color: #003888;
    font-family: 'Arial',sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    width: 689px;
	margin-bottom:15px;
}


#content_main h5 { 
background-image: url("../images/linea-subtitulos.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #003888;
    font-family: 'Arial',sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: -7px;
    margin-top: 15px;
    padding-left: 8px;
    text-align: left;
    width: 689px;
	padding-bottom: 10px;
}


#content_main ol li {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #808080;
    font-family: Verdana,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.6em;
    margin-left: 18px;
    padding: 0;
}
	 
#content_main li { 
  background-image: url("../images/vineta.png");
    background-position: left center;
    background-repeat: no-repeat;
   font-family: Verdana, sans-serif;
font-size: 13px;
font-style: normal;
font-weight: normal;
color:#808080;
padding-left:20px;
}

   
  

	 
	 
	
.item-page {
	padding: 31px;
	
	}	
	
	
#content_menu {
	 background-color: #F9F9F9;
    border: 1px solid #E5E5E4;
    border-radius: 8px;
    float: left;
    height: auto;
    margin: 0 auto;
    padding-bottom: 5px;
    width: 225px;
	}	
	
.moduletableizquierdo a {
	font-family: Verdana, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: normal;
width: 240px;
letter-spacing: normal;
line-height: 1.6em;
color:#003989;
height:43px;

	}


.moduletableizquierdo a:hover {
 background-image: url("../images/bg-hover-menu.png");
    background-position: center center;
  background-repeat: no-repeat;
height:43px;
 font-family: Verdana, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: normal;
width: 240px;
letter-spacing: normal;
line-height: 1.6em;
color:#000000;

	}


.moduletableizquierdo ul{
	margin-top: 12px;
	}


.moduletableizquierdo li {
 background-image: url("../images/linea-menu.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #003989;
    height: 43px;
    padding-left: 36px;
    width: 240px;
}

.moduletableizquierdo li a {
	color: #003989;
    font-family: Verdana,sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    height: 43px;
    letter-spacing: normal;
    line-height: 0.6em;
    width: 240px;
	}

.moduletableizquierdo li a :hover {
 background-image: url("../images/bg-hover-menu.png");
    background-position: left center;
  background-repeat: no-repeat;
height:43px;
 font-family: Verdana, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: normal;
width: 240px;
letter-spacing: normal;
line-height: 1.6em;
color:#000000;

	}




#recontent-categorias {
    margin-top: 132px;
    position: absolute;
    width: 100%;
    z-index: -3;
}



















#destacados { float: left; height: auto; margin: 8px auto 0 23px; width: 433px; }

#destacados h3 { border-bottom: 2px solid #B0AFB0; color: #002968; font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-weight: normal; padding-bottom: 4px; padding-left: 10px; text-align: left; }

#noticias { float: right; height: auto; margin: 8px 12px 0 auto; width: 433px; }

#noticias h3 { border-bottom: 2px solid #B0AFB0; color: #002968; font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-weight: normal; padding-bottom: 4px; padding-left: 10px; text-align: left; }

#noticias a.readon { float: right !important; margin-left: 17px !important; margin-right: -209px !important; margin-top: 126px !important; }



#content_pie { background-image: url("../images/bg_pie.png"); background-position: center 0; background-repeat: no-repeat; clear: both; color: #FFFFFF; float: left; height: 204px; margin:26px auto 0; width: 100%; }

#pie { float: left; height: auto; margin-top: 55px; width: 1000px; }

#content_copy { width:1000px; height:auto; margin:0px auto; float:left; }

#copy {    color: #FFFFFF;
    font-family: arial narrow;
    font-size: 15px;
    margin: 20px auto 0;
    text-align: center;
    width: 670px;}

#logo { width: 68px; height: 20px; background-image: url(../images/logo_gris.png); background-repeat: no-repeat; float: left; margin-top:4px; cursor:pointer; }

#logo:hover { width: 68px; height: 20px; background-image: url(../images/logo.png); background-repeat: no-repeat; float:left; margin-top:4px; cursor:pointer; }

#content_piedos { width: 1000px; margin: 0px auto 0px auto; }

#content_main img {
	border: 1px solid #CCCCCC !important;
    margin-right: 12px;
	padding: 5px;
	}
.consejo-directivo td {
	height:180px;
}

.texto-blanco p {
	color: #FFF;
}



.columna1-gta-inspeccion {
	background-color: #B2C4DC;
    color: #001D45;
}
.columna2-gta-inspeccion {
	   background-color: #CCD7E7;
    color: #3361A1;
}
.columna3-gta-inspeccion {
	 background-color: #EFF2F7;
    color: #3361A1;
}

.inspeccion td {
    font-family: Arial,Helvetica,sans-serif;
    height: 35px;
    padding: 5px;
	
}

.cabeza-tabla {
	text-align: center; color: #fff; background-color: #3361a1; height: 25px;
}

.moduletablecirculares-actualidad a.readon {
    background-image: url("../images/ver_mas.png");
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0);
      height: 18px;
    margin: 15px 0 0;
    width: 44px;
}

.cabeza-tabla p {
	color: #fff; 
	text-align:center;
}

.nspArt p.nspInfo{
	font-size:120%;
	}
.nspArt p.nspText{
	text-align:justify;
	
	}
.moduletablenoticias-actualidad .nspArt {
	border-bottom: 1px solid #E6E6E6;
    height: 211px;
    margin-bottom: 37px;
    width: 100% !important;
	}

.moduletablenoticias-actualidad img {
	border: 1px solid #CCCCCC !important;
    margin-right: 12px;
	padding: 5px;
	}

.moduletablenoticias-actualidad a.readon {
    background-image: url("../images/ver_mas.png");
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0);
      height: 18px;
    margin: 15px 0 0;
    width: 44px;
}

.moduletablecirculares-actualidad .nspArt {
	border-bottom: 1px solid #E6E6E6;
    height: auto;
	margin-bottom: 30px;
        
	}
	
.moduletablecirculares-actualidad a.readon {
    background-image: url("../images/ver_mas.png");
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0);
      height: 18px;
    margin: 15px 0 0;
    width: 44px;
}

.moduletablecirculares-actualidad .nspArt p.nspInfo {
	
    font-size: 120%;
    margin-bottom: 20px;
	}
	
	
.moduletablecirculares-actualidad h4 {
	 font-size: 18px !important;
	
	}	
	
	


/* En es ta parte van todos los estilos para el menu acordeon*/






@import url('https://fonts.googleapis.com/css?family=T:700italic&subset=T');

#nextend-accordion-menu-93-1-container-inner{
  overflow: hidden;
}

div#nextend-accordion-menu-93-1-container div,
div#nextend-accordion-menu-93-1-container dl,
div#nextend-accordion-menu-93-1-container dt,
div#nextend-accordion-menu-93-1-container dd,
div#nextend-accordion-menu-93-1-container span,
div#nextend-accordion-menu-93-1-container a,
div#nextend-accordion-menu-93-1-container img,
div#nextend-accordion-menu-93-1-container h3{
  width: auto;
  padding: 0;
  margin: 0;
  border: 0;
  float: none;
  clear: none;
  line-height: normal;
  position: static;
  list-style: none;
}

.dj_ie7 #nextend-accordion-menu-93-1-container div,
.dj_ie7 #nextend-accordion-menu-93-1-container dl,
.dj_ie7 #nextend-accordion-menu-93-1-container dt,
.dj_ie7 #nextend-accordion-menu-93-1-container dd,
.dj_ie7 #nextend-accordion-menu-93-1-container span,
.dj_ie7 #nextend-accordion-menu-93-1-container a,
.dj_ie7 #nextend-accordion-menu-93-1-container img,
.dj_ie7 #nextend-accordion-menu-93-1-container h3{
  width: 100%;
}

#nextend-accordion-menu-93-1-container span,
#nextend-accordion-menu-93-1-container a,
#nextend-accordion-menu-93-1-container img{
  vertical-align: middle;
}

div#nextend-accordion-menu-93-1-container img{
  margin: 0 4px;
}

#nextend-accordion-menu-93-1-container dl.level1 dl{
  position: absolute;
    width: 100%;
}

#nextend-accordion-menu-93-1-container dl.level1 dd{
  display: block;
  overflow: hidden;
  height: 0px;
  width: 100%;
  margin: 0;
  position: relative;
}

#content-categorias {
	width: 1000px;
	height: 35px;
	clear: both;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 37px;
	margin-left: auto;
    }
   
.categorias-sup td { border-bottom: 3px solid #003989; text-align:right;
}

.categorias-sup td p {
    font-family: 'Archivo Narrow',sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
	color:#003989;
    }
	






.dj_ie #nextend-accordion-menu-93-1-container dl.level1 dd{
  display: none;
}

#nextend-accordion-menu-93-1-container dl.level1 dd.opening, 
#nextend-accordion-menu-93-1-container dl.level1 dd.closing,
#nextend-accordion-menu-93-1-container dl.level1 dd.opened{
  display: block;
}

#nextend-accordion-menu-93-1-container dl.level1 dd.parent.opened{
  height: auto;
}

#nextend-accordion-menu-93-1-container dl.level1 dd.parent.opened > dl {
    background-color: #FF0000;
    position: relative;
}
#nextend-accordion-menu-93-1-container{
  margin: Arraypx Arraypx Arraypx Arraypx ;
}

#nextend-accordion-menu-93-1-container .nextend-accordion-menu-93-1-container-inner {
  overflow: hidden;
  width: 100%;
}

#nextend-accordion-menu-93-1-container dl,
#nextend-accordion-menu-93-1-container dt{
  display: block;
  position: relative;
}

#nextend-accordion-menu-93-1-container .title{
  background: none;
  min-height: 36px;
}

#nextend-accordion-menu-93-1-container .title h3{
  margin: 0;
  padding: 5px 0;
  min-height: 26px;	
  
  box-shadow:inset 0px 0px 1px RGBA(255,255,255,0.7);
  /*
  border: solid 1px RGBA(0,0,0,0.1);
  */
  
  /*font chooser*/
    /*font chooser*/
}

#nextend-accordion-menu-93-1-container dl,
#nextend-accordion-menu-93-1-container dt,
#nextend-accordion-menu-93-1-container dd{
  position: relative;
}

#nextend-accordion-menu-93-1-container dl.level2 dt.last{
  margin-bottom: 0px; background-color:transparent !important;
}

/*
Level specific iteration
*/
#nextend-accordion-menu-93-1-container dt.level1 nextend-nav-122 parent   last closed { background-color:transparent !important;}
#nextend-accordion-menu-93-1-container dl.level1 .inner{
   color: #003989;
    display: block;
    margin: 0 6px 0 31px;
	font-size:16px;
}


.dj_ie6 #nextend-accordion-menu-93-1-container dl.level1 .inner a,
.dj_ie7 #nextend-accordion-menu-93-1-container dl.level1 .inner a{
  float: left;
}

/*
Productnum
*/
#nextend-accordion-menu-93-1-container dl.level1 dt .inner .productnum{
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3) inset;
  border: 1px solid #bcbcbc;
  line-height: 14px;
  float: right;  
  border-radius: 9px;
  font-size: 10px;
  margin-top: 2px;
  margin-left: 5px;
  }

.dj_ie7 #nextend-accordion-menu-93-1-container dl.level1 dt .inner span {
  float: left;
}

.dj_ie7 #nextend-accordion-menu-93-1-container dl.level1 dt .inner .productnum.one{
  padding-left: 6px;
  padding-right: 4px;
}

.dj_ie7 #nextend-accordion-menu-93-1-container dl.level1 dt .inner .productnum.more{
  padding-left: 4px;
  padding-right: 6px;
}

.dj_ie7 #nextend-accordion-menu-93-1-container dl.level1 dt .inner .productnum{
  width: 10px;
  position: relative;
  float: right;
  margin-right: 50px;
  margin-top: -20px;
}

.dj_ie9 #nextend-accordion-menu-93-1-container dl.level1 dt .inner .productnum {
  line-height: 12px;
  padding-top: 2px;
}

.dj_ie9 #nextend-accordion-menu-93-1-container dl.level2 dt .inner .productnum {
  line-height: 12px;
  padding-top: 1px;
}


#nextend-accordion-menu-93-1-container dl.level1 dt .inner .productnum.one{
  padding-left: 8px;
  padding-right: 8px;
}

#nextend-accordion-menu-93-1-container dl.level1 dt .inner .productnum.more{
  padding-left: 6px;
  padding-right: 6px;
}
<br />
<b>Warning</b>:  imagecreatefrompng() [<a href='function.imagecreatefrompng'>function.imagecreatefrompng</a>]: '/home/onacorg/public_html' is not a valid PNG file in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>35</b><br />
<br />
<b>Warning</b>:  imagesy(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>36</b><br />
<br />
<b>Warning</b>:  imagesx(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>37</b><br />
<br />
<b>Warning</b>:  imagecreatetruecolor() [<a href='function.imagecreatetruecolor'>function.imagecreatetruecolor</a>]: Invalid image dimensions in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>38</b><br />
<br />
<b>Warning</b>:  imagesavealpha(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>39</b><br />
<br />
<b>Warning</b>:  imagealphablending(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>40</b><br />
<br />
<b>Warning</b>:  imagecolorallocatealpha(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>41</b><br />
<br />
<b>Warning</b>:  imagefilledrectangle(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>42</b><br />
<br />
<b>Warning</b>:  imagepng(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>63</b><br />
<br />
<b>Warning</b>:  imagedestroy(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>64</b><br />
<br />
<b>Warning</b>:  imagedestroy(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>65</b><br />
/*
Plus
*/
#nextend-accordion-menu-93-1-container dl.level1 dt.parent .inner{
  background-image: url('/~onacorg/modules/mod_accordion_menu/cache/93-langes-ES/581bb27ad413543d5d3e0faee8d6333d.png');
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}

<br />
<b>Warning</b>:  imagecreatefrompng() [<a href='function.imagecreatefrompng'>function.imagecreatefrompng</a>]: '/home/onacorg/public_html' is not a valid PNG file in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>35</b><br />
<br />
<b>Warning</b>:  imagesy(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>36</b><br />
<br />
<b>Warning</b>:  imagesx(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>37</b><br />
<br />
<b>Warning</b>:  imagecreatetruecolor() [<a href='function.imagecreatetruecolor'>function.imagecreatetruecolor</a>]: Invalid image dimensions in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>38</b><br />
<br />
<b>Warning</b>:  imagesavealpha(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>39</b><br />
<br />
<b>Warning</b>:  imagealphablending(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>40</b><br />
<br />
<b>Warning</b>:  imagecolorallocatealpha(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>41</b><br />
<br />
<b>Warning</b>:  imagefilledrectangle(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>42</b><br />
<br />
<b>Warning</b>:  imagepng(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>63</b><br />
<br />
<b>Warning</b>:  imagedestroy(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>64</b><br />
<br />
<b>Warning</b>:  imagedestroy(): supplied argument is not a valid Image resource in <b>/home/onacorg/public_html/modules/mod_accordion_menu/helpers/image.php</b> on line <b>65</b><br />
/*
Minus
*/
#nextend-accordion-menu-93-1-container dl.level1 dt.parent.opened .inner,
#nextend-accordion-menu-93-1-container dl.level1 dt.parent.opening .inner{
  background-image: url('/~onacorg/modules/mod_accordion_menu/cache/93-langes-ES/581bb27ad413543d5d3e0faee8d6333d.png');
  background-repeat: no-repeat;
  background-position: left center;
}
#nextend-accordion-menu-93-1-container .level1 dt{
  border-style: solid;
    border-width: 0 0 1px;
    height: 43px;
    margin-bottom: 0;
  
}
#nextend-accordion-menu-93-1-container .level1 dt.last {
    background-color: #002368; 
}


#nextend-accordion-menu-93-1-container dl.level1 dt span{
  /*font chooser*/
    /*font chooser*/
}

#nextend-accordion-menu-93-1-container dl.level1 dt a,
#nextend-accordion-menu-93-1-container dl.level1 dt a span{
  /*font chooser*/
    /*font chooser*/
  background: transparent;
  color: #003989;
}

#nextend-accordion-menu-93-1-container dl.level1 dt a:HOVER,
#nextend-accordion-menu-93-1-container dl.level1 dt a:HOVER span,
#nextend-accordion-menu-93-1-container dl.level1 dt span:HOVER{
  /*font chooser*/
    /*font chooser*/
}

#nextend-accordion-menu-93-1-container dl.level1 dt.opening a,
#nextend-accordion-menu-93-1-container dl.level1 dt.opening a span,
#nextend-accordion-menu-93-1-container dl.level1 dt.opened a,
#nextend-accordion-menu-93-1-container dl.level1 dt.opened a span,
#nextend-accordion-menu-93-1-container dl.level1 dt.active a,
#nextend-accordion-menu-93-1-container dl.level1 dt.active a span{
  /*font chooser*/
    /*font chooser*/
}



/*menu 2*/
#nextend-accordion-menu-95-1-container dl.level1 dt span {
	
	
	}
#nextend-accordion-menu-95-1-container dl.level1 dt .inner .productnum{
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3) inset;
  border: 1px solid #bcbcbc;
  line-height: 14px;
  float: right;  
  border-radius: 9px;
  font-size: 10px;
  margin-top: 2px;
  margin-left: 5px;
  }
  
 #nextend-accordion-menu-95-1-container dl.level1 dd{
  display: block;
  overflow: hidden;
  height: 0px;
  width: 100%;
  margin: 0;
  
  position: relative;
} 

#nextend-accordion-menu-95-1-container dl.level1 dt a, #nextend-accordion-menu-95-1-container dl.level1 dt a span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #0000FF;
}

#click-menu117{
top: 0px;
left: 0px;
border-bottom-color: #C2C6CC;
padding-top: 6px;
padding-bottom: 9px;
background-image: none;
background-color: #f9f9f9;
display: block;
position: relative;
z-index: 199;
}



#click-menu117 .inbox1 {
    border-bottom:1px solid #cccccc;
    color: #003989 !important;
    display: block !important;
    font-family:  font-family: Verdana,Arial,Helvetica,sans-serif !important;!important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}
    

.click-menu117 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu117 div.active .inbox1.act, #click-menu117 .inbox1.act {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellowleft-off.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #FFFFFF !important;
}

click-menu117 .inbox2.active, .click-menu117 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 6px center;
  /*border #B3B3B3;*/
  
   
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu117 .inbox1 {
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_down.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    /*border-bottom-color: #C2C6CC;
    border-bottom-style: solid;
    border-radius: 1px*/;
    color: #003989 !important;
    display: block !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
    
}

.click-menu117 .inbox2.active, .click-menu117 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 13px center;
   /* border-bottom-color: #B3B3B3;
    border-bottom-style: solid;*/
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}


#click-menu117 div.active .inbox1, .click-menu117 .inbox1-active, #click-menu117 .inbox1:hover {
color: #FFFFFF !important;
background-image: URL("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellow-down.gif");
background-repeat: no-repeat;
background-position: 7px center;
background-color: #003987;
}






.click-menu117 .inbox2.first {
    border-radius: 0px 0px 0 0;
}
.click-menu117 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: 16px center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}











#click-menu118 {
top: 0px;
left: 0px;
border-bottom-color: #C2C6CC;
padding-top: 6px;
padding-bottom: 9px;
background-image: none;
background-color: #f9f9f9;
display: block;
position: relative;
z-index: 199;
}



#click-menu118 .inbox1 {
	border-bottom:1px solid #cccccc;
    color: #003989 !important;
    display: block !important;
    font-family:  font-family: Verdana,Arial,Helvetica,sans-serif !important;!important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}
	

.click-menu118 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu118 div.active .inbox1.act, #click-menu118 .inbox1.act {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellowleft-off.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #FFFFFF !important;
}

click-menu118 .inbox2.active, .click-menu118 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 6px center;
  /*border #B3B3B3;*/
  
   
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

#click-menu118 .inbox1 {
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_down.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    /*border-bottom-color: #C2C6CC;
    border-bottom-style: solid;
    border-radius: 1px*/;
    color: #003989 !important;
    display: block !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    font-style: normal !important;
    font-weight: normal !important;
    padding-bottom: 7px;
    padding-left: 26px;
    padding-top: 10px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
	
}

.click-menu118 .inbox2.active, .click-menu118 .inbox2:hover {
    background-color: #003987 !important;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/flecha_rigth.png");
    background-position: 13px center;
   /* border-bottom-color: #B3B3B3;
    border-bottom-style: solid;*/
    color: #FFFFFF !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}


#click-menu118 div.active .inbox1, .click-menu118 .inbox1-active, #click-menu118 .inbox1:hover {
color: #FFFFFF !important;
background-image: URL("http://192.185.152.76/~onacorg/images/swmenupro/arrows/yellow-down.gif");
background-repeat: no-repeat;
background-position: 7px center;
background-color: #003987;
}






.click-menu118 .inbox2.first {
    border-radius: 0px 0px 0 0;
}
.click-menu118 .inbox2 {
    background-color: #EBEBEB;
    background-image: url("http://192.185.152.76/~onacorg/images/swmenupro/arrows/blue-down.gif");
    background-position: 16px center;
    background-repeat: no-repeat;
    border:none;
    color: #003989 !important;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-top: 6px;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: normal;
}

