@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);

body{
	margin:0;
	background:url(../img/bginn.png) 0 0 repeat-x;
}
a{
	text-decoration:none;
}
a img{
	border:none;
}

#hheader{
	width:1200px;
	height:auto;
	margin:0 auto;
	position:relative;
	/*background:url(../ref.png) 0 0 no-repeat;*/
}

#logoh1{
	width:170px;
	height:95px;
	background:url(../img/spritesheetlogoc1.png) 0 0;
	position:absolute;
	top:-2px;
	left:112px;
	transform:scale(0.8);
	-ms-transform:scale(0.8);
	-webkit-transform:scale(0.8);
}
#logoh2{
	width:170px;
	height:95px;
	background:url(../img/spritesheetlogoc2.png) 0 0;
	position:absolute;
	top:-2px;
	left:112px;
	display:none;
	transform:scale(0.8);
	-ms-transform:scale(0.8);
	-webkit-transform:scale(0.8);
}

#btcalendar{
	width:34px;
	height:33px;
	position:absolute;
	top:23px;
	left:771px;
	oopacity:0;
}
#bt1{
	width:116px;
	height:33px;
	position:absolute;
	top:21px;
	left:305px;
	opacity:0;
}
#bt2{
	width:137px;
	height:33px;
	position:absolute;
	top:20px;
	left:435px;
	opacity:0;
}
#bt3{
	width:161px;
	height:34px;
	position:absolute;
	top:20px;
	left:585px;
	opacity:0;
}
#btcalendar img, #bt1 img, #bt2 img, #bt3 img{
	position:absolute;
	top:0;
	left:0;
}
#ovcalendar, #ov1, #ov2, #ov3{
	z-index:100;
}
#bi2a, #bi2b{
	display:none;
}

#big-navi{
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:73px;
	left:386px;
	display:none;
	font:14px Verdana, sans-serif;
}
#big-navi li{
	display:inline;
	vertical-align:top;
	position:relative;
	width:225px;
}
#big-navi li img{
	position:absolute;
	top:0;
	left:0;
}
#big-ov1, #big-ov2, #big-ov3{
	z-index:100;
}
#txa2, #txb2, #txc2{
	display:none;
}
#lia{
	top:0;
	left:0;
}
#lia:hover #subnn1{
	display:block;
}
#lib{
	top:0;
	left:232px;
}
#lib:hover #subnn2{
	display:block;
}
#lic{
	top:0;
	left:480px;
}
#lic:hover #subnn3{
	display:block;
}


/**/
#subnn1{
	margin:0;
	padding:0;
	width:214px;
	position:absolute;
	top:23px;
	left:0;
	background:#FDE724;
	z-index:10;
	border-radius:0 0 5px 5px;
	display:none;
}
#subnn1 li{
	display:block;
	width:204px;
	padding:8px 0;
	margin:0 auto;
	border-bottom:1px solid #EED922;
	position:relative;
}
#subnn1 li:first-child{
	margin-top:15px;
}
#subnn1 li:last-child{
	border:none;
}
#subnn1 li a{
	color:#003989;
}
#subnn1 li a:hover{
	color:#999;
}
/**/
#subnn2{
	margin:0;
	padding:0;
	width:225px;
	position:absolute;
	top:23px;
	left:0;
	background:#003989;
	z-index:10;
	border-radius:0 0 5px 5px;
	display:none;
}
#subnn2 li{
	display:block;
	width:204px;
	padding:8px 0;
	margin:0 auto;
	border-bottom:1px solid #002873;
	position:relative;
	text-align:left;
}
#subnn2 li:first-child{
	margin-top:15px;
}
#subnn2 li:last-child{
	border:none;
}
#subnn2 li a{
	color:#fff;
}
#subnn2 li a:hover{
	color:#999;
}
/**/
#subnn3{
	margin:0;
	padding:0;
	width:225px;
	position:absolute;
	top:23px;
	left:0;
	background:#D12319;
	z-index:10;
	border-radius:0 0 5px 5px;
	display:none;
}
#subnn3 li{
	display:block;
	width:204px;
	padding:8px 0;
	margin:0 auto;
	border-bottom:1px solid #B31D14;
	position:relative;
	text-align:left;
	color:#fff;
}
#subnn3 li:first-child{
	margin-top:15px;
}
#subnn3 li:last-child{
	border:none;
}
#subnn3 li a{
	color:#fff;
}
#subnn3 li a:hover{
	color:#999;
}



/**/
.bglia{
	z-index:80;
}
#txa1, #txa2, #txb1, #txb2, #txc1, #txc2{
	z-index:90;
}


/**/
#bt-sitemap{
	width:34px;
	height:33px;
	position:absolute;
	top:20px;
	left:825px;
}