@charset "UTF-8";
/* CSS Document */

body{
	margin:0;
}
a, a img{
	text-decoration:none;
	border:none;
}
.inst{
	font:12px Verdana, sans-serif;
	color:#606060;
}
.bbrigh{
	position:absolute;
	bottom:-20px;
	left:44px;
	z-index:60;
}

#wrapasos{
	width:720px;
	height:1315px;
	position:relative;
	overflow:auto;/*!*/
	font:13px Verdana, sans-serif;
	color:#808080;
}
#fst-step{
	width:705px;
	height:171px;
	margin:0 auto;
	margin-top:8px;
	position:relative;
}
#scd-step{
	width:705px;
	height:242px;
	margin:0 auto;
	position:relative;
	display:none;
}
#trd-step{
	width:705px;
	height:282px;
	margin:0 auto;
	position:relative;
	display:none;
}
#fth-step{
	width:705px;
	height:179px;
	margin:0 auto;
	position:relative;
	display:none;
}
#fvth-step{
	width:705px;
	height:220px;
	margin:0 auto;
	position:relative;
	display:none;
}
#sth-step{
	width:705px;
	height:181px;
	margin:0 auto;
	position:relative;
	display:none;
}

.wtxt{
	width:530px;
	min-height:120px;
	position:absolute;
	top:10px;
	left:165px;
}

#wrapasos ul{
	list-style:square;
}
#wrapasos ul li{
	padding:4px 0;
	padding-left:7px;
}

hr{
	margin:0;
	padding:0;
	border:none;
	width:525px;
	height:1px;
	position:absolute;
	bottom:0;
	left:165px;
	background:#e6e6e6;
}


#stt1{
	position:absolute;
	top:-6px;
	left:-7px;
	z-index:60;
}
#stt2{
	position:absolute;
	top:-6px;
	left:-7px;
	z-index:50;
}
#stt3{
	position:absolute;
	top:-6px;
	left:-7px;
	z-index:40;
}
#stt4{
	position:absolute;
	top:-6px;
	left:-7px;
	z-index:30;
}
#stt5{
	position:absolute;
	top:-6px;
	left:-7px;
	z-index:20;
}
#stt6{
	position:absolute;
	top:-6px;
	left:-7px;
	z-index:10;
}


/**/
#actt1{
	position:absolute;
	bottom:-10px;
	left:56px;
	z-index:100;
	cursor:pointer;
}
#actt2{
	position:absolute;
	bottom:-10px;
	left:56px;
	z-index:100;
	cursor:pointer;
}
#actt3{
	position:absolute;
	bottom:-10px;
	left:56px;
	z-index:100;
	cursor:pointer;
}
#actt4{
	position:absolute;
	bottom:-10px;
	left:56px;
	z-index:100;
	cursor:pointer;
}
#actt5{
	position:absolute;
	bottom:-10px;
	left:56px;
	z-index:100;
	cursor:pointer;
}