@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);

body { overflow-x: hidden; width:100%; }
a{
	text-decoration:none;
}
a img{
	border:none;
}

header { display: inline-block; width: 100%; text-align: center;}

@media only screen and (max-width: 1199px) and (min-width: 0){

}
.wrapper-header-topbar-content { margin: 0 auto; width: 1200px; }
.header-topbar {
	box-shadow: 0px 1px 7px 2px #A8A8A8;
	display: inline-block;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}

#hheader{
	width: 1308px;
	height: 410px;
	position:relative;
	margin: 1px auto 0 !important;
	/*background:url(../ref.png) 0 0 no-repeat;*/
	display: inline-block;
	background-image: url('../img/subnavi-shape-bg3.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	margin: 0 auto;
	text-align: center;
}
#shape-bg{
	z-index:-20;
	width: auto;
	float: left;
	position: relative;
}

#logoh1{
	width:170px;
	height:95px;
	background:url(../img/spritesheetlogoc1.png) 0 0;
	transform:scale(0.8);
	-ms-transform:scale(0.8);
	-webkit-transform:scale(0.8);
}
#logoh2{
	width:170px;
	height:95px;
	background:url(../img/spritesheetlogoc2.png) 0 0;
	display:none;
	transform:scale(0.8);
	-ms-transform:scale(0.8);
	-webkit-transform:scale(0.8);
}

/*#btcalendar{
	width:34px;
	height:33px;
	position:absolute;
	top:23px;
	left:771px;
	oopacity:0;
}
#bt1{
	width:116px;
	height:33px;
	position:absolute;
	top:21px;
	left:305px;
	opacity:0;
}
#bt2{
	width:137px;
	height:33px;
	position:absolute;
	top:20px;
	left:435px;
	opacity:0;
}
#bt3{
	width:161px;
	height:34px;
	position:absolute;
	top:20px;
	left:585px;
	opacity:0;
}*/

.wrapper-logo {
	width: 170px;
	height: 85px;
	position: relative;
	margin-right: 25px;
}

.wrapper-menutop {

	display: inline-block;
}

.wrapper-menutop ul li {
	display: inline-block; vertical-align: middle; margin-right: 15px;
}

#bt1 { width: 117px; }
#bt2 { width: 138px; }
#bt3 { width: 162px; }
#btcalendar { width: 34px; }

.wrapper-logo, .wrapper-menutop, .menu-topbar {
	display: inline-block;
	vertical-align: middle;
}

#btcalendar, #bt-sitemap, #bt1 , #bt2 , #bt3 {
	position:relative;
	display: inline-block;
	height: 35px;
}

#btcalendar img, #bt1 img, #bt2 img, #bt3 img{
	position:absolute;
	top:0;
	left:0;
}
#ovcalendar, #ov1, #ov2, #ov3{
	z-index:100;
}
#bi2a, #bi2b{
	display:none;
}

#big-navi{
	padding: 0;
	list-style: none;
	margin: 0 auto;
	z-index: 1;
	width: 444px;
	height: 400px;
	text-align: right;
	margin-top: -9px;
}

#big-navi li > * {
	margin: 0 auto;
}

#big-navi li{
	display: inline;
	vertical-align:top;
	position:relative;
	width:225px;
}


#big-navi li img{
	position:absolute;
	top:0;
	left:0;
}
#big-ov1, #big-ov2, #big-ov3{
	z-index:100;
}
#txa2, #txb2, #txc2{
	display:none;
}
#lia{
	top:0;
	left:0;
}
#lia:hover #bridgea0{
	display:block;
}
#lia:hover #bridgea1{
	display:block;
}
#lia:hover #bridgea2{
	display:block;
}
#lia:hover #bridgea3{
	display:block;
}
#lia:hover #bridgea4{
	display:block;
}
#lia:hover #bridgea5{
	display:block;
}
#lia:hover #subnav1{
	display:block;
}
#lib{
	top:0;
	left:232px;
}
#lib:hover #subnav2{
	display:block;
}
#lib:hover #bridgeb1{
	display:block;
}
#lic{
	top:0;
	left:480px;
}
#lic:hover #subnav3{
	display:block;
}
#lic:hover #bridgec1{
	display:block;
}

#subnav1{
	position:relative;
	z-index:10;
	display:none;
}
#sublia1{
	top:62px;
	left:-251px;
}
#sublib1{
	top:115px;
	left:-341px;
}
#sublic1{
	top:168px;
	left:-389px;
}
#sublid1{
	top:222px;
	left:-400px;
}
#sublie1{
	top:295px;
	left:-369px;
}

#bridgea0{
	position:absolute;
	top:25px !important;
	left:-75px !important;
	z-index:2;
	display:none;
}
#bridgea1{
	position:absolute;
	top:61px !important;
	left:-190px !important;
	z-index:2;
	display:none;
}
#bridgea2{
	position:absolute;
	top:106px !important;
	left:-295px !important;
	z-index:2;
	display:none;
}
#bridgea3{
	position:absolute;
	top:160px !important;
	left:-340px !important;
	z-index:2;
	display:none;
}
#bridgea4{
	position:absolute;
	top:213px !important;
	left:-351px !important;
	z-index:2;
	display:none;
}
#bridgea5{
	position:absolute;
	top:285px !important;
	left:-322px !important;
	z-index:2;
	display:none;
}

#subova1, #subova2, #subova3, #subova4, #subova5{
	z-index:100;
}
#subia2, #subib2, #subic2, #subid2, #subie2{
	display:none;
}


#bridgeb1{
	position:absolute;
	top:29px !important;
	left:-305px !important;
	z-index:2;
	display:none;
}


#subnav2{
	position:relative;
	z-index:10;
	display:none;
}
#sublia2{
	top:40px;
	left:-222px;
}
#sublib2{
	top:122px;
	left:-310px;
}
#sublic2{
	top:188px;
	left:-335px;
}
#sublid2{
	top:238px;
	left:-335px;
}
#sublie2{
	top:303px;
	left:-277px;
}

#subovb1, #subovb2, #subovb3, #subovb4, #subovb5{
	z-index:100;
}
#subia2b, #subib2b, #subic2b, #subid2b, #subie2b{
	display:none;
}


#bridgec1{
	position:absolute;
	top:29px !important;
	left:-252px !important;
	z-index:2;
	display:none;
}


#subnav3{
	position:relative;
	z-index:10;
	display:none;
}
#sublia3{
	top:38px;
	left:-145px;
}
#sublib3{
	top:73px;
	left:-203px;
}
#sublic3{
	top:105px;
	left:-245px;
}
#sublid3{
	top:137px;
	left:-273px;
}
#sublie3{
	top:171px;
	left:-287px;
}
#sublif3{
	top:206px;
	left:-287px;
}
#sublig3{
	top:238px;
	left:-273px;
}

#subovc1, #subovc2, #subovc3, #subovc4, #subovc5, #subovc6, #subovc7{
	z-index:100;
}
#subia2c, #subib2c, #subic2c, #subid2c, #subie2c, #subif2c, #subig2c{
	display:none;
}



/**/
#logosentence{
	width:1000px;
	height:50px;
	line-height:50px;
	margin:0 auto;
	text-align:center;
	font:40px 'Archivo Narrow', sans-serif;
	color:#003989;
}

/**/
/*#bt-sitemap{
	width:34px;
	height:33px;
	position:absolute;
	top:20px;
	left:825px;
}*/