@import url('http://fonts.googleapis.com/css?family=Cabin:400,700');
@import url('http://fonts.googleapis.com/css?family=PT Sans:400');

/*Joomla! 1.5 border fix*/
#content-box div.panel fieldset{
  border:none;
}

/*Parameters head*/
#content-box div.panel h3.title{
  border-left: 5px solid #146295;
  border-bottom: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Cabin', sans-serif;
  font-weight: normal;
  color: #146295;
}

#content-box div.panel .title span{
  text-transform:uppercase;
  font-size: 15px;
  line-height: 30px;
  padding-left: 5px;
  background-image: none;
}

#content-box div.panel .title span,
#content-box div.panel .title a span{
  color: #146295;
}

#content-box div.pane-slider fieldset.panelform{
  padding: 0;
  margin: 0;
  /*overflow: auto;*/
  overflow: visible;
}

#content-box div.pane-slider ul.adminformlist li,
#content-box div.panel table.paramlist tr{
  background: #ffffff;
  padding-left: 0;
  display : block;
  float: left;
  width: 100%;
  min-height: 40px;
  border-top: 1px solid #c0d5e3;
  position: relative;
}

#content-box div.panel table.paramlist tr{
  background-image: url('../images/greypx15.png');
  background-repeat: repeat-y;
}

#content-box div.panel table.paramlist tr td{
  height: 40px;
}

#content-box div.panel table.paramlist tr td.paramlist_key{
  border: 0;
  background-color: transparent;
  border-right: 1px solid #CCCCCC;
  padding-right: 5px;
}

#content-box div.panel table.paramlist tr td.paramlist_value{
  padding: 7px 0px 7px 10px;
}

.pane-sliders .content {
  /*overflow: hidden;*/
}

#content-box div.pane-slider ul.adminformlist li.blue,
#content-box div.panel table.paramlist tr.blue{
  background-color: #dce8ef;
}

#content-box div.pane-slider ul.adminformlist li.levelgroup,
#content-box div.panel table.paramlist tr.levelgroup{
  background-color: #FAFAFA;
  background-image: none;
}

#content-box div.pane-slider ul.adminformlist li.hide,
#content-box div.panel table.paramlist tr.hide{
  display: none;
}

#content-box div.pane-slider,
#content-box div.jpane-slider{
  height: 0px;
}

#content-box div.pane-slider fieldset.jelement{
  background-color: transparent;
  margin-right: 5px;
}

#content-box div.pane-slider fieldset.panelform li{
  min-height: 20px;
  padding: 8px 0;
  background-image: url('../images/greypx.png');
  background-repeat: repeat-y;
}

#content-box div.pane-slider fieldset.panelform li> label{
  padding: 4px 21px 4px 10px;
  width: 146px;
  min-height: 10px;
/*  border-right: 1px solid #c0d5e3;*/
  text-align: right;
  line-height: 14px;
  font-family: 'PT Sans';
  color: #454545;
  font-size: 13px;
  margin: 0; 
}

#contetn-box ul.adminformlist{
    border: medium none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

/**/

#content-box div.panel table.paramlist tr td.paramlist_value .legend{
  border: 1px solid #CCCCCC;
  margin-bottom: 3px;
}

/*Offlajn Dashboard*/

#content-box div.panel.dashboard h3.title{
  border:0;
  border-bottom: 1px solid #cccccc;
  padding:0;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #f4f4f4;
  height: 40px;
  line-height: 40px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px; 
  padding-left: 10px
}

#content-box div.panel.dashboard h3.title span{
  font-size: 18px;
  text-transform: uppercase;
  line-height:40px;
  color:#025A8D;
}

#content-box div.panel.dashboard{
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px; 
}

#content-box div.panel.dashboard .pane-slider{
  height: 100%;
}

#content-box div.panel.dashboard .column{
  float: left;
  width: 33.333%;
  overflow:hidden;
}

#content-box div.panel.dashboard .dashboard-box{
  width:100%;
}

#content-box div.panel.dashboard .dashboard-box .box-title{
  height:30px;
  border-left: 5px solid #ededed;
  padding-left: 5px;
  background-color: #f4f4f4;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  color:#2577ad;
  line-height:30px;  
  text-transform:uppercase;
  overflow: hidden;
}

#content-box div.panel.dashboard .dashboard-box{
  border: 1px solid #cccccc;
  border-top:0;
}

#content-box div.panel.dashboard .left .dashboard-box{
  border-left:0;
  border-bottom:0;
}

#related-news-iframe{
  height: 200px;
}

#content-box div.panel.dashboard .mid .dashboard-box{
  border-right: 0;
  border-bottom: 0;
}

#content-box div.panel.dashboard .dashboard-box .box-content{
  border-top: 1px solid #cccccc;
  background-color: #FFFFFF;
}

#content-box div.panel.dashboard .dashboard-box .box-content .content-inner{
  padding: 7px;
  border-left: 5px solid #ededed;
  min-height: 77px;
  color: #393939;
}

#content-box div.panel.dashboard .dashboard-box .box-content .content-inner .support-ticket-button{
  float: right;
  height: 21px;
  width: 110px;
  margin: 12px 5px 2px 5px;
}

#content-box div.panel.dashboard .dashboard-box .box-content .content-inner .support-ticket-button a{
  height: 21px;
  width: 110px;
  display: block;
}

#content-box div.panel.dashboard .dashboard-box .box-content .content-inner .support-us-button{
  float: right;
  height: 21px;
  width: 88px;
  margin: 12px 5px 2px 5px;
}

#content-box div.panel.dashboard .dashboard-box .box-content .content-inner .support-us-button a{
  height: 21px;
  width: 88px;
  display: block;
}

/*ToolTip*/

.arrowL, .arrowR, .arrowB, .arrowT {
  border: 5px transparent solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.arrowL {
  top: 3px;
  left: -5px;
  border-right-color:#808080 ;
  border-width: 5px 5px 5px 0;
}
.arrowR {
  top: 3px;
  right: -5px;
  border-left-color: #808080;
  border-width: 5px 0 5px 5px;
}
.arrowT {
  left: 2px;
  bottom: -8px;
  border-top-color: #808080;
  border-width: 5px 5px 0 5px;
}
.arrowB {
  left: 2px;
  top: -8px;
  border-bottom-color: #808080;
  border-width: 0 5px 5px 5px;
}

.tool-tip-container {
  display: none;
  z-index: 10000;
  position: absolute;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-background-size: 100% 100%;
	box-shadow:
		1px 1px 2px rgba(0,0,0,0.3),
		inset 2px 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow:
		1px 1px 2px rgba(0,0,0,0.3),
		inset 2px 2px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow:
		1px 1px 2px rgba(0,0,0,0.3),
		inset 2px 2px 5px rgba(0,0,0,0.15);
    background-color: #fef3cb;
    border: 1px solid #bfbfbe;		
}

span.tooltipInf {
    background: url('../images/info.png') no-repeat scroll left center transparent;
    font-size: 12px;
    font-family: "PT Sans",Arial;
    cursor: default;
    line-height: 23px;
    margin-left: 8px;
    padding: 0 8px 0 16px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    color:#5e5e5e;
    white-space: nowrap;
}

#module-sliders.pane-sliders .panel {
  margin-bottom: 5px;
}


/*
Joomla 3
*/
.pane-sliders .panel{
  clear: both;
}

.pane-sliders .panel .clr{
  clear: both;
}

.pane-sliders .panel h3 {
    background: none repeat scroll 0 0 #FAFAFA;
    color: #666666;
    margin:0;
    cursor: pointer;
}

.pane-sliders .panel {
    border: 1px solid #CCCCCC;
}

.pane-sliders .adminformlist{
  margin:0;
}

#content-box .pane-sliders fieldset label, 
#content-box .pane-sliders fieldset span.faux-label {
  clear: left;
  display: block;
  float: left;
}

#options-basic .control-group{
  display: none;
}

#content-box .pane-sliders input,
.OfflajnWindowFont input{
  width: auto;
}

#content-box .pane-sliders a:HOVER{
  text-decoration: none;
}