/**
*
* Styles for informes
*
*/
ul.pdf-list li , ul.excel-list li  { display: inline-block; min-width: 300px; font-size: 14px; }
ul.pdf-list li i, span { display: inline-block; vertical-align: middle;}
ul.excel-list li i, span { display: inline-block; vertical-align: middle;}
ul.pdf-list li i, ul.excel-list li i.icon-excel  { 
	background-image: url('../images/excel-icon.png');
	background-repeat: no-repeat;
	width: 34px;
	height: 32px;
	margin-right: 10px;
}

ul.pdf-list li span.filename, ul.excel-list li span.filename { width: 80px;	text-align: center; } 

ul.pdf-list li i, ul.excel-list li i.icon-pdf  { 
	background-image: url('../images/pdf-icon.png');
	background-repeat: no-repeat;
	width: 34px;
	height: 32px;
	margin-right: 10px;
}

ul.pdf-list li .progress-bar, ul.excel-list li .progress-bar{

	width: 0;
	height: 13px;
	background-color: #004D79;
	margin-left: 10px;

	-webkit-transition( width, 400ms );
	-moz-transition( width, 400ms );
	transition( width, 400ms );
}

ul.pdf-list li .percentage{	margin-left: 10px; }
ul.excel-list li .percentage{	margin-left: 10px; }

ul.excel-parse-list li.progress, .truncate-label.progress {
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 10px 0;
	background-color: #FFF;
	border: 1px solid #AFAFAF;
	font-size: 13px;
}

ul.excel-parse-list li.success, .truncate-label.success {
	color: #008000;
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 10px 0;
	background-color: #CBF3DD;
	border: 1px solid #009E3F;
	font-size: 13px;
}

ul.excel-parse-list li.error, .truncate-label.error {
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #9E0000;
	color: #99000C;
	background-color: #F6DFE0;
	font-size: 13px;
}

.icon-48-logo{  background: url('../images/logo.png') 0 0 no-repeat; }

.import-label { display: inline-block; width: 100%; margin-top: 15px; }

#importar-datos {
	display: inline-block;
	padding: 8px 17px;
	margin-bottom: 6px;
	background-color: #000;
	color: #FFF;
}

#importar-datos:hover {
	background-color: #960000;
	text-decoration: none;
}