/**
* Styles for notification
*
*/
.notification {
	display: none;
	position: fixed;
	top: 115px;
	left: 50%;
	width: 450px;
	height: 50px;
	margin-left: -225px;
	background-color: #FFE374;
	border-radius: 7px;
	border: 2px solid #AC6F02;
	font-family: 'Arial';
	font-size: 16px;
	text-align: center;
	line-height: 48px;
}

.notification.success {
	background-color: #A5EBBB;
	border: 2px solid #01701C;
}

.notification.error {
	background-color: #FCCDCD;
	border: 2px solid #850000;
}

.notification.warning {
	background-color: #F5E52A;
	border: 2px solid #777200
}