@charset "utf-8";

/* CSS Document */


li {
    color:#333;
    }


* { padding: 0; margin: 0; }

body { font-family: 'Cuprum', sans-serif; font-size: 14px; background-color: #FFF; color: #333; }

img { border: 0px; }

b { }

strong { }

table { }

td { }

ul { list-style: none }

a { color: #000000; text-decoration: none; font-weight: normal; }

a:visited { color: #000000; text-decoration: none; font-weight: normal; }

a:hover { color: #000000; text-decoration: none; font-weight: normal; }

h3 { color:#F00}

h4 { }

h2 { }

hr { }

hr.separator { }

.article_seperator { }

p {
    float: left;
    width: 100%;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    color: #808080;
    letter-spacing: normal;
    line-height: 1.6em;
    text-align: justify;
}

p a.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #023BA0;
    color: #FFF;
    border-radius: 4px;
    font-size: 14px;
}

p a.button:hover {
    opacity: .8;
}

/* FORMS */





.button { }

.contact_email #contact_text { }

.introtext { }

.contact_email .inputbox { }

textarea#contact_text { }

.inputbox { }

/* MENU-NAV */





.pagenavbar { color: #666666; } /* << Start < Prev Next > End >> */

.pagenavbar a { color: #666666; text-decoration: none; }

.pagenavbar a:hover { }

.pagenavbar:visited { }

.pagenav { color: #fff; font-family: 'Orbitron', arial, serif; font-size: 9px; text-transform: uppercase; padding: 3px; -webkit-border-radius: 5px 10px; -moz-border-radius: 5px 10px; border-radius: 5px 10px; } /* format text for "<< Start < Previous 1 Next > End >>" links */

.pagenav:hover { background-color: #4D4D4D }

a.pagenav { color: #666666; text-decoration: none; }

a.pagenav:hover { }

a.pagenav:visited { }

.readon { }

a.readon { background-image: url("../images/ver_mas.png"); background-repeat: no-repeat; color: transparent; height: 15px;  width: 35px; margin-top: 15px;} /* Read More */

a.readon:hover { }

a.readon:visited { }

.back_button { }

.back_button a { } /* "BACK" Button's style */

.back_button a:hover { }

.back_button a:visited { }

.pagenav_prev a { } /* "PRE"  Button's style */

.pagenav_prev a:hover { }

.pagenav_prev a:visited { }

.pagenav_next a { } /* "NEXT" Button's style */

.pagenav_next a:hover { }

.pagenav_next a:visited { }

.mostread ul { } /* most popular' style By default - user2 */

.mostread li { }

.blogsection { }

.category { }

.toclink { }

/* CONTENT */





a.category:link { }

a.category:hover { }

a.category:visited { }

.blog { } /* Main table*/

.blog td { }

.blogsection { } /* Links of Blog's section */

.blog_more { } /* Text "More" in blog's section */

a.blogsection:link { } /* Link's style */

a.blogsection:visited { } /* visited Link's style */

a.blogsection:hover { } /* hover Link's style */

/* Padding */





.contentheading, .componentheading, .back_button, .blog_more, .modifydate, .contentpaneopen td, .contentpane td { }

/* Titles */





.componentheading { width: 100%; font-size: 16px; color: #009DDF; font-weight: bold; text-align: left; margin-bottom: 5px; }

.contentheading, .componentheading_faq { padding: 0px; } /*<_____________----------------------------------------*/

.contentheading { font-family: "Century Gothic", Calibri, Arial, Verdana; font-size: 20px; font-weight: normal; text-align: left; color: #ccc; padding-right: 20px; background-image: url(../images/bullet.png); background-repeat: no-repeat; background-position: left 37%; padding-left: 30px; margin: 0px 0px 0px 9px; padding-top: 16px; padding-bottom: 37px; }

.contentpane { } /* Page Contact us */

.button_registration { }

.contentpaneopen { font-size: 14px; color: #8A8A8A; }

.contentpaneopen h3 { }

.contentpaneopen p { }

.contentpaneopen img { float: none; border: 1px solid #666666; padding: 3px; margin: 8px 10px 8px 15px }

.contentpaneopen img:hover { opacity: 0.8; filter: alpha(opacity=90); }

* html .contentpaneopen img { }

.contentpaneopen td { } /* the table that containing the service information (components, categories, forms...). */

.contentpaneopen td img { }

.contentpaneopen td td { } /* the table that containing text */

.contentpaneopen a { }

.contentpaneopen a:hover { }

.contentpaneopen label { }

.contentpaneopen font { }

.contentpaneopen ol { }

.contentpaneopen li { list-style: inside decimal; margin-left: 20px }

.contentpaneopen li a { }

.contentpaneopen li a:hover { }

.contentpaneopen input { }

* html .contentpaneopen input { }

.contentpaneopen .inputbox { }

.contentpaneopen .button { }

.contentpaneopen .buttonheading { }

.contentpaneopen .buttonheading img { }

.contentpane td { }

.contentpane td img { }

.contentpane li { }

.contentpane li a { }

* html .contentpane iframe { }

.contentpane .button { }

.contentpagetitle { }

span.contentheading { }

/* Page Faq */





.contentpane_faq td { }

.contentpane_faq td td { }

.componentheading_faq td { }

.sectiontableheader_faq td { }

.contentpane_faq input, .contentpane_faq select { }

.contentdescription_faq { }

.contentdescription_faq img { }

tr.sectiontableentry1_faq td, tr.sectiontableentry2_faq td { }

.sectiontableentry2_faq { }

.componentheading_ln { }

.contentpane_ln td { }

.contentpane_ln td td { }

.contentpane_ln input { }

/**/





.content_rating { }

.content_vote { }

.message { }

/* SUBHEADINGS */





a.contentpagetitle:hover { } /* subheading Being references */

a.contentpagetitle:link { }

a.contentpagetitle:visited { }

.contentdescription img { } /* formating section "DESCRIPTION" categories (News/Weblinks/Latest news...) */

table.contenttoc { } /* Tables of Content. Use for multipages articles */

table.contenttoc td { } /* Tables of Content. Use for multipages articles */

table.contenttoc th { } /* Tables of Content. Use for multipages articles */

table.contenttoc td.toclink { } /* Tables of Content. Use for multipages articles for links */

.pagenavcounter { }

a.toclink:link { }

a.toclink:visited { }

a.toclink:hover { }

/*DATES, AUTHORS */





.createdate { } /* The date of created style */

.modifydate { } /* formating text - Last updated on */

.small { color: #7a1a00; font-size: 11px } /* text - "Written by:...." */

.smalldark { } /* formating text - "Number of Voters" */

/* WEBLINKS */





.weblinks { } /* formating links on section "Weblinks" */

a.weblinks:hover { }

/* NEWSFEED */





.newsfeedheading { } /* only for heading newsfeed. */

.newsfeeddate { } /* date for newsfeed */

.fase4rdf { } /* text newsfeed */

/* SEARCHPAGE */





table.searchintro td { } /* formating message "Search Keyword: test returned 4 matches" */

.search { }

label[for="mod-search-searchword"] { display: none; }

/* PATHWAY */





#pathway { }

#pathway .space { }

span.pathway { } /* left space */

.pathway { } /* formating pathway text */

a.pathway { color: #FFF } /* formating pathway link */

a.pathway:hover { }

.pathway img { }

/* INDEX.PHP_STYLES */
#content_cab {
    height: 168px;
    float: left;
    margin: -49px auto 0;
    width: 100%; }

#content_header {  
    margin: 0 auto;
    width: 1000px; }

#content_header_100 { width:100%; height:auto; float:left; margin:0px auto;}

#header { width: 233px; height: 24px; float: right; margin: 0px auto; position: relative; }

#header .inputbox {    background-color: transparent;
    background-image: url("../images/b_input.png");
    background-repeat: no-repeat;
    border: medium none;
    height: 26px;
    margin-top: 2px;
    padding-left: 7px;
    width: 234px;}

#header .button { background-color: transparent; background-image: url("../images/bg_btn.png"); background-repeat: no-repeat; border: medium none; cursor: pointer; float: right; height: 24px; margin-top: -25px; position: relative; text-indent: -999px; width: 27px; z-index: 5; }

#all { width: 1000px; height: auto; margin: 0px auto 0px auto; }

#content-content { height: 360px; margin: 0 auto; width: 1000px; }

#content_noticias { background-color: #F1F1F0; border: 1px solid #E5E5E4; border-radius: 8px 8px 8px 8px; float: left; height: 304px; margin: 0 auto; width: 979px; box-shadow: 0px 0px 6px #CCC; }

#destacados { float: left; height: auto; margin: 8px auto 0 23px; width: 433px; }

#destacados h3 { border-bottom: 2px solid #B0AFB0; color: #002968; font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-weight: normal; padding-bottom: 4px; padding-left: 10px; text-align: left; }

#noticias { float: right; height: auto; margin: 8px 12px 0 auto; width: 433px; }

#noticias h3 { border-bottom: 2px solid #B0AFB0; color: #002968; font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-weight: normal; padding-bottom: 4px; padding-left: 10px; text-align: left; }

#noticias a.readon { float: right !important; margin-left: 17px !important; }

#content_main { float: left; margin: 0px auto 0px auto }

#content_pie { background-image: url("../images/bg_pie.png"); background-position: center 0; background-repeat: no-repeat; clear: both; color: #FFFFFF; float: left; height: 204px; margin:26px auto 0; width: 100%; }

#pie { float: left; height: auto; margin-top: 55px; width: 1000px; }

#content_copy { width:1000px; height:auto; margin:0px auto; float:left; }

#copy {    color: #FFFFFF;
    font-family: arial narrow;
    font-size: 15px;
    margin: 39px auto 0;
    text-align: center;
    width: 670px;}

#logo { width: 68px; height: 20px; background-image: url(../images/logo_gris.png); background-repeat: no-repeat; float: left; margin-top:4px; cursor:pointer; }

#logo:hover { width: 68px; height: 20px; background-image: url(../images/logo.png); background-repeat: no-repeat; float:left; margin-top:4px; cursor:pointer; }

#content_piedos { width: 1000px; margin: 0px auto 0px auto; }

.nspArt h4.nspHeader {
    text-align: left;
    float: none;
}

.nspArt h4.nspHeader a {
    color: #003888;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    }
.nspArt .tright {
    color: #808080;
    font-family: verdana;
    margin-top: 5px;
    text-align: left;
    }   
    
.moduletabledestacados .nspArt img.nspImage {
    margin-right:5px;
    
    }   
    
.moduletablenoticias .nspArt img.nspImage {
    margin-right:5px;
    
    }

#content_main .item-page{
    display: inline-block;
    padding: 26px;
    margin: 0 auto 30px;
    background-color: #FFF;
    border: 1px solid #E5E5E4;
    box-shadow: 0px 0px 5px #CCC;
}

#content_main .item-page h2:first-child { 
    background-image: url("../images/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 30px;
    height: 75px;
    text-align: right;
    width: 942px;
    font-family: 'Arial', sans-serif;
    font-weight: lighter;
    float: right;
    margin: 0px 0px 10px;
    line-height: 76px;
    padding-right: 14px;
}

#clock { text-align: right; }

.moduletableclock > div { display: inline-block; }
.moduletableclock #leoClockTime_leoclock { font-size: 13px; }
.moduletableclock .timeszone { font-size: 10px; }

.global-notification {
    display: none;
    position: fixed;
    top: 118px;
    left: 50%;
    margin-left: -189px;
    padding: 14px;
    width: 350px;
    background-color: #FCEBB6;
    border: 1px solid #C9C9C9;
    box-shadow: 1px 1px 1px #E9E9E9;
    border-radius: 2px;
    font-family: 'Arial';
    text-align: center;
    z-index: 999;
}

.global-notification.error { color: #DA0808; }