/***********************
* Overall layout control
************************/

#jevents_body{
    width:100%;
    line-height:1.5em;
}
#jevents_header{
	width:100%!important;
	border:none;
}
#jevents_header td, #jevents_header tr, .ev_navigation tr, .ev_navigation td{
	border:none;
	line-height:1.5em;

}


.jeventslight{
	color:#000000;
}

/* EXT CALENDAR STYLE*/
#jevents_body td,#jevents_body tr,#jevents_body p, #jevents_body div {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border:none;	
	
	
}

#jevents_body select {
	color: inherit;
}

#jevents_body strong {
	color: inherit;
}

#jevents_body h2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image :   url(../images/box_left_icon.gif);
	background-repeat : no-repeat;
	background-position : left;
	padding-left : 13px;
	font-size: 11px;
	margin: 0px;
  color : #606F79;
}

#jevents_body p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin: 2px 0px;
}

#jevents_body hr {
	color : #000000;
	height: 1px;
}

#jevents_body .textinput {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #686868;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #9BAAAF;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #AABBBF;

	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #9BAAAF;

	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #9BAAAF;	
	padding-right: 3px;
	padding-left: 3px;
  background-image:   url(../images/txtboxbg.gif);

}

#jevents_body .textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #686868;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #9BAAAF;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #AABBBF;

	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #9BAAAF;

	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #9BAAAF;	
	padding-right: 3px;
	padding-left: 3px;

}

#jevents_body .listbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: groove 1px;
}

#jevents_body .button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #AABBBF;
	background-color : #FFFFFF;
    color:#404F59;
	background-image: url("../images/btn_bg.gif");
	padding: 2px;
}


#jevents_body a {
	color: #606F79;
	text-decoration: none;
}

#jevents_body a:hover {
	color: #8090A3;
	text-decoration: underline;
}

#jevents_body .apptitle { 
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: bold; 
}

#jevents_body .appdesc { 
	font-family: Arial, Helvetica, sans-serif; font-size:10px; font-weight: normal; 
}


#jevents_body .buttontext a {
	font-size: 9px;
	color: #606F79;
	text-decoration: none;
}

#jevents_body .buttontext:hover {
	color: #8090A3;
	text-decoration: underline;
}

#jevents_body .previousmonth, #jevents_body .previousday, #jevents_body .previousweek {
	font-size: 10px;
	color: #606F79;
	text-decoration: none;
	font-weight: bold;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;

	background-color: #d8e0e4;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
}

#jevents_body .previousmonth a:hover, #jevents_body .previousday a:hover, #jevents_body .previousweek a:hover {
	color: #8090A3;
	text-decoration: underline;
}

#jevents_body .nextmonth, #jevents_body .nextday, #jevents_body .nextweek {
	font-size: 10px;
	color: #606F79;
	text-decoration: none;
	font-weight: bold;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;

	background-color: #d8e0e4;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
}

#jevents_body .nextmonth a:hover, #jevents_body .nextday a:hover, #jevents_body .nextweek a:hover {
	color: #8090A3;
	text-decoration: underline;
}

#jevents_body .currentmonth, #jevents_body .currentday, #jevents_body .currentweek {
	font-size: 12px;
	color: #606F79;
	text-decoration: none;
	font-weight: bold;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;

	background-color: #d8e0e4;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
}

#jevents_body .tablev1 {
	
	border-top: 1px solid #95A5AD;
	border-left: 1px solid #95A5AD;
	border-right: 0px solid #62727A;
	border-bottom: 0px solid #62727A;
    margin: 0px;
	color : #E0E4E4;
	padding-top: 12px;
	padding-right: 2px;
	padding-bottom: 12px;
	padding-left: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
	text-transform: uppercase; 
	vertical-align: middle;
	
	
	background: rgb(0,48,137); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMzA4OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwNTVhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDMwODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, rgba(0,48,137,1) 0%, rgba(0,85,165,1) 50%, rgba(0,48,137,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,48,137,1)), color-stop(50%,rgba(0,85,165,1)), color-stop(100%,rgba(0,48,137,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(0,48,137,1) 0%,rgba(0,85,165,1) 50%,rgba(0,48,137,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(0,48,137,1) 0%,rgba(0,85,165,1) 50%,rgba(0,48,137,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(0,48,137,1) 0%,rgba(0,85,165,1) 50%,rgba(0,48,137,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(0,48,137,1) 0%,rgba(0,85,165,1) 50%,rgba(0,48,137,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003089', endColorstr='#003089',GradientType=1 ); /* IE6-8 */
	
	
}

#jevents_body .tablev1 a {
	color : #E0E4E4;
	text-decoration: none;
}

#jevents_body .tablev1 a:hover {
	color : #E0E4E4;
	text-decoration: underline;
}

#jevents_body .searchlink {
	font-size: 10px;
	color: #606F79;
	text-decoration: underline;
	font-weight: bold;
}

#jevents_body .searchlink:hover {
	color: #8090A3;
	text-decoration: underline;
}

#jevents_body .searchdesc {
	font-size: 10px;
	color: #606F79;
}

#jevents_body .eventtitle {
	font-size: 10px;
	color: #606F79;
	text-decoration: none;
	font-weight: bold;
}

#jevents_body .eventtitle:hover {
	color: #8090A3;
	text-decoration: underline;
}

#jevents_body .eventdesc {
	font-size: 10px;
	color: #606F79;
}

#jevents_body .eventdesclarge {
	font-size: 12px;
	color: #505F69;
	line-height: 18px;
}

#jevents_body .cattitle, #jevents_body .usertitle, #jevents_body .grouptitle {
	font-size: 11px;
	color: #606F79;
	text-decoration: none;
	font-weight: bold;
}

#jevents_body .cattitle:hover, #jevents_body .usertitle:hover, #jevents_body .grouptitle:hover {
	color: #8090A3;
	text-decoration: underline;
}

#jevents_body .catdesc, #jevents_body .userdesc, #jevents_body .groupdesc {
	font-size: 10px;
	color: #606F79;
}

#jevents_body .titlehighlight {
	color: #4488BB;
	text-decoration: underline;
}

#jevents_body .highlight {
	color: #80A000;
	text-decoration: underline;
}

#jevents_body .tableh1 {
  color:#606F79;
  font-size: 11px;
  height: 26px;
  background-image:   url(../images/tile_back1.gif);
  background-position: top;
  background-repeat: repeat-x;
	padding-top: 8px;
	padding-right: 12px;
	padding-bottom: 8px;
	padding-left: 8px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #CED2D6;
	display:none;
}

#jevents_body .tableh1 td , #jevents_body .tableh1 tr , tr.caldaydigits, tr.caldaydigits td{
	border:none;
}
#jevents_body .tableh2   {
	background-image:  url(../images/tile_sub.gif);
	background-color: #708088 ;
	border-left: 1px solid #95A5AD;
	border-right: 0px solid #62727A;
	margin: 0px;
	color : white;
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 12px;
	font-size: 10px;
	font-weight: bold;
}

#jevents_body .tableh2 a{
	color:#cccccc;
}

#jevents_body .tableh2_nobackground   {
	color : white;
	font-size: 10px;
	font-weight: bold;
}

#jevents_body .tableb {
	color : black;
	background-color: #E4E8E8 ;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	line-height: 16px;
}

#jevents_body .tablec {
	color : black;
	background-color: #d8e0e4;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}


#jevents_body .maintable {
	border: 1px solid #99a0aa;
	 margin: 79px auto;
}

#jevents_body .error {
	color : Red;
	font-weight : bold;
}

#jevents_body .today {
	font-size: 9px;
	color: #606F79;
	font-weight: bold;
}

#jevents_body .atomic {
	font-size: 9px;
}

/* Component Legend Styling
   float div to get table like view 
   border-color is set to category color by code */
#jevents_body .event_legend_container {
	border: none;
}
#jevents_body  div.event_legend_item {
	float:left;
	border-left-width:0px;
	border-left-style:solid;
	padding-left:4px;
	margin-top:5px;
	margin-left:0px;
	margin-bottom:4px;
	width:90px;
	white-space:nowrap;
	overflow:hidden;
}
#jevents_body div.event_legend_name {
	border-left-width:3px;
	border-left-style:solid;
	padding: 0px 0px 0px 4px;

	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.4pt;
	font-size: 11px;
}
#jevents_body div.event_legend_desc {
	border-left-width:3px;
	border-left-style:solid;
	padding: 0px 0px 0px 4px;
	display:none;
}
/* end component legend */

/* Weekday Label Cells */

#jevents_body .caldaydigits {
	font-size: 9px;
}

#jevents_body .weekdaytopclr, #jevents_body .sundaytopclr {
	/*background-image:  url(../images/tile_sub.gif);
	background-color: #003089;*/
	border-left: 1px solid #95A5AD;
	border-right: 0px solid #62727A;
  margin: 0px;
	color : #FFFFFF;
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 12px;
	font-size: 10px;
	font-weight: bold;
	
	background: rgb(0,48,137); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMzA4OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwNTVhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDMwODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(0,48,137,1) 0%, rgba(0,85,165,1) 50%, rgba(0,48,137,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,48,137,1)), color-stop(50%,rgba(0,85,165,1)), color-stop(100%,rgba(0,48,137,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,48,137,1) 0%,rgba(0,85,165,1) 50%,rgba(0,48,137,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,48,137,1) 0%,rgba(0,85,165,1) 50%,rgba(0,48,137,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,48,137,1) 0%,rgba(0,85,165,1) 50%,rgba(0,48,137,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,48,137,1) 0%,rgba(0,85,165,1) 50%,rgba(0,48,137,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003089', endColorstr='#003089',GradientType=0 ); /* IE6-8 */
	
	
	
	
	
}

#jevents_body .sundaytopclr {
	background-color: #708094;
}

/* Day Cells */

#jevents_body .weekdayclr {
	background-color: #EEF0F0;
	color: #C0C4C8;
	font-size: 10px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

#jevents_body .todayclr {
	background-color: #D0E6F6;
	color: #C0C4C8;
	font-size: 10px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

#jevents_body .sundayemptyclr {
	background-color: #DDE0E0;
	color: #C0C4C8;
	font-size: 10px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

#jevents_body .weekdayemptyclr {
	background-color: #E4E8E8;
	color: #C0C4C8;
	font-size: 10px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

/* Text Editor classes */

#jevents_body .tdBtn {
  padding-left: 3px;
  padding-top:3px;
}

#jevents_body .btnOut {    
  border: 1px solid;
  border-color: #E4E8E8;
	background-color: #E4E8E8;
}

#jevents_body .btnOver {    
  border: 1px solid;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
  border-right-color: #C0C4C4;
  border-bottom-color: #C0C4C4;
	background-color: #E4E8E8;
	cursor: pointer;
}

#jevents_body .btnDown {    
  border: 1px solid;
  border-top-color: #C0C4C4;
  border-left-color: #C0C4C4;
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
	background-color: #D4D8D8;
	cursor: pointer;
}

#jevents_body a.flatButton img {
  border: 1px solid #E4E8E8;
  border-color: #d8e0e4;
}

#jevents_body a.flatButton:hover img {
  border: 1px solid;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
  border-right-color: #C0C4C4;
  border-bottom-color: #C0C4C4;
	background-color: #E4E8E8;
	cursor: pointer;
}

/* Monthly View classes */
#jevents_body .eventstyle {
	font-size: 9px;
  padding: 3px;
  border-bottom: 2px solid #555555;
	text-align: left;
}
#jevents_body .eventfull {
  margin-left: 3px;
  margin-right: 3px;
  border-top: 1px solid #D0D4D4;
  border-left: 1px solid #D0D4D4;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
	background-color: #E4E8E8;
	cursor: pointer;
}

#jevents_body .eventstart {
  margin-left: 3px;
  border-top: 1px solid #D0D4D4;
  border-left: 1px solid #D0D4D4;
  border-bottom: 1px solid #FFFFFF;
	background-color: #E4E8E8;
	cursor: pointer;
}

#jevents_body .eventmiddle {
  border-top: 1px solid #D0D4D4;
  border-bottom: 1px solid #FFFFFF;
	background-color: #E4E8E8;
	cursor: pointer;
}

#jevents_body .eventend {
  margin-right: 3px;
  border-top: 1px solid #D0D4D4;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
	background-color: #E4E8E8;
	cursor: pointer;
}

#jevents_body .imagecell {    
	background-color: #C8D2D8;
  padding: 8px;
}
#jevents_body .imagecell img {    
  border: 1px solid;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
  border-right-color: #C0C6C6;
  border-bottom-color: #C0C6C6;
	cursor: pointer;
}

div.jev_pagination {
	width:100%;
	text-align:center;
}
/***************************
* List View 
***************************/
#jevents_body li.ev_td_li{ 
	border-style:solid;
	border-width:0px 0px 1px 5px;
	display:block;
	margin:1px 10px;
	padding-left:3px;
	list-style-type:none!important;
}

/***************************
* Detail View 
***************************/
.ev_prevrepeat {
	line-height:20px;
	float:left;
	margin-right:30px;
}
.ev_nextrepeat {
	line-height:20px;
	float:left;
}

div.jev_adminfilter {
	text-align:center;
	font-weight:bold;
	margin:5px auto 10px auto; 
}

#jevents_body a.addjevent:hover {background-color: transparent;}
a.addjevent {
	width:16px;
	height:16px;
	margin-right:2px;
	float:right;
    background-image: url("../images/add.png")!important;
   	background-repeat: no-repeat; 
   	background-position: top left;
   	visibility:hidden;
}
a.addjevent img {
border-width:0px!important;
}
td.showjevadd a.addjevent {
   	visibility:visible;
}

/***************************************
* Mootools ToolTips for JEvents Calendar
****************************************/
.jevtip-tip {
   float: left;
   background: #ffc;
   border: 1px solid #D4D5AA;
   padding: 0px;
   max-width: 200px;
   z-index:99;
}
 
.jevtip-text {
   padding: 0;
   margin: 0;
   font-size: 0.8em;
}
 
div.jevtt_title{
   font-weight: bold;
   font-size: 1.2em;
	padding:2px;
	width:196px;
}
div.jevtt_text{
	padding:2px;
	width:196px;
	line-height: 1.3em;

}

/* Joomla 1.6 changes */
#action_dialog {
	text-align: left;
}
#action_dialog a{
	display:block;
	margin:0px 2px;
}
#jevents_header {position:relative;}
#jevents_header ul.actions {
	list-style-image: none;
	position:absolute;
	right:0px;
	top:0px;
	list-style-type: none;
	list-style-image: none;
	width:auto!important;	
}
#jevents_header ul.actions li {
	line-height:14px!important;	
	background-image:none!important;
	padding-left:0px!important;
	overflow:visible!important;
	float:left;
	margin-left:3px;
}

/* Print version */
@media print {
   table.contentpaneopen {
   		background-image:none!important;
       background-color:white!important;
   }
	div.ev_navigation {
		display:none;
	}
	div.ev_adminpanel {
		display:none;
	}
	.ev_noprint {
		display:none;
	}
}

