/**
*
* Styles for informes
*
*/

ul.pdf-list li { font-size: 14px; }
ul.pdf-list li i, span { display: inline-block; vertical-align: middle;}
ul.pdf-list li i { 
	background-image: url('../images/pdf-icon.png');
	background-repeat: no-repeat;
	width: 34px;
	height: 32px;
	margin-right: 10px;
}

ul.pdf-list li .progress-bar{

	width: 0;
	height: 13px;
	background-color: #004D79;
	margin-left: 10px;

	-webkit-transition( width, 400ms );
	-moz-transition( width, 400ms );
	transition( width, 400ms );
}

ul.pdf-list li .percentage{	margin-left: 10px; }

.icon-48-logo{  background: url('../images/logo.png') 0 0 no-repeat; }